.v-form input:-webkit-autofill,
.v-form input:-webkit-autofill:hover,
.v-form input:-webkit-autofill:focus,
.v-form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
  box-shadow: 0 0 0 30px white inset;
}

#app .rounded-corners {
  border-radius: 2rem;
}

#app.xl .rounded-corners-small,
#app.lg .rounded-corners-small,
#app.md .rounded-corners-small {
  border-radius: 1rem;
}
#app.sm .rounded-corners-small {
  border-radius: 0.8rem;
}
#app.xs .rounded-corners-small {
  border-radius: 0.6rem;
}

#app.xl .rounded-corners-tiny,
#app.lg .rounded-corners-tiny,
#app.md .rounded-corners-tiny {
  border-radius: 0.5rem;
}
#app.sm .rounded-corners-tiny {
  border-radius: 0.45rem;
}
#app.xs .rounded-corners-tiny {
  border-radius: 0.4rem;
}

/* #region Elements */

h1, h2, h3, h4, h5, h6 {
  user-select: none;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

/* #endregion */


/* #region Fonts */

#app.xl .f-1, #app.xl .f-1b,
#app.lg .f-1, #app.lg .f-1b {
  font-size: 0.8rem;
}
#app.md .f-1, #app.md .f-1b {
  font-size: 0.75rem;
}
#app.sm .f-1, #app.sm .f-1b {
  font-size: 0.7rem;
}
#app.xs .f-1, #app.xs .f-1b {
  font-size: 0.65rem;
}

#app.xl .f-2, #app.xl .f-2b,
#app.lg .f-2, #app.lg .f-2b {
  font-size: 0.9rem;
}
#app.md .f-2, #app.md .f-2b {
  font-size: 0.85rem;
}
#app.sm .f-2, #app.sm .f-2b {
  font-size: 0.8rem;
}
#app.xs .f-2, #app.xs .f-2b {
  font-size: 0.75rem;
}

#app.xl .f-3, #app.xl .f-3b,
#app.lg .f-3, #app.lg .f-3b {
  font-size: 1.2rem;
}
#app.md .f-3, #app.md .f-3b {
  font-size: 1.15rem;
}
#app.sm .f-3, #app.sm .f-3b {
  font-size: 1.1rem;
}
#app.xs .f-3, #app.xs .f-3b {
  font-size: 1rem;
}

#app.xl .f-4, #app.xl .f-4b,
#app.lg .f-4, #app.lg .f-4b {
  font-size: 1.4rem;
}
#app.md .f-4, #app.md .f-4b {
  font-size: 1.35rem;
}
#app.sm .f-4, #app.sm .f-4b {
  font-size: 1.3rem;
}
#app.xs .f-4, #app.xs .f-4b {
  font-size: 1.2rem;
}

#app.xl .f-5, #app.xl .f-5b,
#app.lg .f-5, #app.lg .f-5b {
  font-size: 1.7rem;
}
#app.md .f-5, #app.md .f-5b {
  font-size: 1.6rem;
}
#app.sm .f-5, #app.sm .f-5b {
  font-size: 1.5rem;
}
#app.xs .f-5, #app.xs .f-5b {
  font-size: 1.45rem;
}

#app.xl .f-6, #app.xl .f-6b,
#app.lg .f-6, #app.lg .f-6b {
  font-size: 2rem;
}
#app.md .f-6, #app.md .f-6b {
  font-size: 1.85rem;
}
#app.sm .f-6, #app.sm .f-6b {
  font-size: 1.7rem;
}
#app.xs .f-6, #app.xs .f-6b {
  font-size: 1.6rem;
}

#app.xl .f-7, #app.xl .f-7b,
#app.lg .f-7, #app.lg .f-7b {
  font-size: 2.4rem;
}
#app.md .f-7, #app.md .f-7b {
  font-size: 2.2rem;
}
#app.sm .f-7, #app.sm .f-7b {
  font-size: 1.9rem;
}
#app.xs .f-7, #app.xs .f-7b {
  font-size: 1.75rem;
}

#app.xl .f-8, #app.xl .f-8b {
  font-size: 2.8rem;
}
#app.lg .f-8, #app.lg .f-8b {
  font-size: 2.4rem;
}
#app.md .f-8, #app.md .f-8b {
  font-size: 2.2rem;
}
#app.sm .f-8, #app.sm .f-8b {
  font-size: 1.7rem;
}
#app.xs .f-8, #app.xs .f-8b {
  font-size: 1.5rem;
}

#app.xl .f-9, #app.xl .f-9b {
  font-size: 3.1rem;
}
#app.lg .f-9, #app.lg .f-9b {
  font-size: 2.9rem;
}
#app.md .f-9, #app.md .f-9b {
  font-size: 2.6rem;
}
#app.sm .f-9, #app.sm .f-9b {
  font-size: 2.25rem;
}
#app.xs .f-9, #app.xs .f-9b {
  font-size: 1.8rem;
}

#app.xl .f-10, #app.xl .f-10b {
  font-size: 3.4rem;
}
#app.lg .f-10, #app.lg .f-10b {
  font-size: 3.2rem;
}
#app.md .f-10, #app.md .f-10b {
  font-size: 2.9rem;
}
#app.sm .f-10, #app.sm .f-10b {
  font-size: 2.4rem;
}
#app.xs .f-10, #app.xs .f-10b {
  font-size: 2.2rem;
}

#app h1.f-1:not(:last-child), #app h1.f-1b:not(:last-child),
#app h2.f-1:not(:last-child), #app h2.f-1b:not(:last-child),
#app h3.f-1:not(:last-child), #app h3.f-1b:not(:last-child),
#app h4.f-1:not(:last-child), #app h4.f-1b:not(:last-child),
#app p.f-1:not(:last-child), #app p.f-1b:not(:last-child) {
  padding-bottom: 0.8em;
}
#app h1.f-2:not(:last-child), #app h1.f-2b:not(:last-child),
#app h2.f-2:not(:last-child), #app h2.f-2b:not(:last-child),
#app h3.f-2:not(:last-child), #app h3.f-2b:not(:last-child),
#app h4.f-2:not(:last-child), #app h4.f-2b:not(:last-child),
#app p.f-2:not(:last-child), #app p.f-2b:not(:last-child) {
  padding-bottom: 0.75em;
}
#app h1.f-3:not(:last-child), #app h1.f-3b:not(:last-child),
#app h2.f-3:not(:last-child), #app h2.f-3b:not(:last-child),
#app h3.f-3:not(:last-child), #app h3.f-3b:not(:last-child),
#app h4.f-3:not(:last-child), #app h4.f-3b:not(:last-child),
#app p.f-3:not(:last-child), #app p.f-3b:not(:last-child) {
  padding-bottom: 0.7em;
}
#app .f-4:not(:last-child), #app .f-4b:not(:last-child) {
  padding-bottom: 0.65em;
}
#app .f-5:not(:last-child), #app .f-5b:not(:last-child) {
  padding-bottom: 0.6em;
}
#app .f-6:not(:last-child), #app .f-6b:not(:last-child) {
  padding-bottom: 0.55em;
}
#app .f-7:not(:last-child), #app .f-7b:not(:last-child) {
  padding-bottom: 0.5em;
}
#app .f-8:not(:last-child), #app .f-8b:not(:last-child) {
  padding-bottom: 0.5em;
}
#app .f-9:not(:last-child), #app .f-9b:not(:last-child) {
  padding-bottom: 0.5em;
}
#app .f-10:not(:last-child), #app .f-10b:not(:last-child) {
  padding-bottom: 0.5em;
}

#app .f-1, #app .f-1b {
  line-height: 1.6em;
}
#app .f-2, #app .f-2b {
  line-height: 1.55em;
}
#app .f-3, #app .f-3b {
  line-height: 1.5em;
}
#app .f-4, #app .f-4b {
  line-height: 1.45em;
}
#app .f-5, #app .f-5b {
  line-height: 1.4em;
}
#app .f-6, #app .f-6b {
  line-height: 1.35em;
}
#app .f-7, #app .f-7b {
  line-height: 1.3em;
}
#app .f-8, #app .f-8b {
  line-height: 1.2em;
}
#app .f-9, #app .f-9b {
  line-height: 1.1em;
}
#app .f-10, #app .f-10b {
  line-height: 1em;
}

#app .f-1,
#app .f-2,
#app .f-3,
#app .f-4,
#app .f-5,
#app .f-6,
#app .f-7,
#app .f-8,
#app .f-9,
#app .f-10 {
  font-weight: 300;
  letter-spacing: 0.03rem;
  margin: 0;
}
#app .f-1b,
#app .f-2b,
#app .f-3b,
#app .f-4b,
#app .f-5b,
#app .f-6b,
#app .f-7b,
#app .f-8b,
#app .f-9b,
#app .f-10b {
  font-weight: 700;
  letter-spacing: 0.05rem;
  margin: 0;
}

/* #endregion */