/* #region Thickness variables */

:root {
  --border-t1: 0.1rem;
  --border-t2: 0.15rem;
}

/* #endregion *

/* #region Border radius variables */

:root {
  --radius-1: 0.8rem;
  --radius-2: 1.1rem;
  --radius-3: 1.4rem;
  --radius-4: 1.7rem;
  --radius-5: 2rem;

  --radius-1-rel: 0.6em;
  --radius-2-rel: 1.1em;
  --radius-3-rel: 1.4em;
  --radius-4-rel: 1.7em;
  --radius-5-rel: 2em;
}

/* #endregion */

/* #region Border radius utilities */

.radius-1 { border-radius: var(--radius-1); }
.radius-2 { border-radius: var(--radius-2); }
.radius-3 { border-radius: var(--radius-3); }
.radius-4 { border-radius: var(--radius-4); }
.radius-5 { border-radius: var(--radius-5); }

/* #endregion */
