/* #region Thickness variables */

:root {
  --border-t1: 0.1rem;
  --border-t2: 0.15rem;
}

/* #endregion *

/* #region Border radius variables */

:root {
  --radius-1: 0.8rem;
  --radius-2: 1.1rem;
  --radius-3: 1.4rem;
  --radius-4: 1.7rem;
  --radius-5: 2rem;

  --radius-1-rel: 0.6em;
  --radius-2-rel: 1.1em;
  --radius-3-rel: 1.4em;
  --radius-4-rel: 1.7em;
  --radius-5-rel: 2em;
}

/* #endregion */
