/* #region Color variables */

:root {

  /* primary */

  --color-primary-h: 240;
  --color-primary-s: 100%;
  --color-primary-l: 68%;
  --color-primary-hs: var(--color-primary-h), var(--color-primary-s);
  --color-primary-hsl: var(--color-primary-hs), var(--color-primary-l);
  --primary-s1n: calc(0.3 * var(--color-primary-s));

  --color-primary-l4: hsl(var(--color-primary-hs), calc(var(--color-primary-l) + .9 * (100% - var(--color-primary-l))));
  --color-primary-l3: hsl(var(--color-primary-hs), calc(var(--color-primary-l) + .75 * (100% - var(--color-primary-l))));
  --color-primary-l2: hsl(var(--color-primary-hs), calc(var(--color-primary-l) + .5 * (100% - var(--color-primary-l))));
  --color-primary-l1: hsl(var(--color-primary-hs), calc(var(--color-primary-l) + .25 * (100% - var(--color-primary-l))));
  --color-primary: hsl(var(--color-primary-hsl));
  --color-primary-l1n: hsl(var(--color-primary-hs), calc(.75 * var(--color-primary-l)));
  --color-primary-l2n: hsl(var(--color-primary-hs), calc(.5 * var(--color-primary-l)));
  --color-primary-l3n: hsl(var(--color-primary-hs), calc(.3 * var(--color-primary-l)));
  --color-primary-l4n: hsl(var(--color-primary-hs), calc(.15 * var(--color-primary-l)));

  --color-primary-s1nl4: hsl(var(--color-primary-h), var(--primary-s1n), calc(var(--color-primary-l) + .9 * (100% - var(--color-primary-l))));
  --color-primary-s1nl3: hsl(var(--color-primary-h), var(--primary-s1n), calc(var(--color-primary-l) + .75 * (100% - var(--color-primary-l))));
  --color-primary-s1nl2: hsl(var(--color-primary-h), var(--primary-s1n), calc(var(--color-primary-l) + .5 * (100% - var(--color-primary-l))));
  --color-primary-s1nl1: hsl(var(--color-primary-h), var(--primary-s1n), calc(var(--color-primary-l) + .25 * (100% - var(--color-primary-l))));
  --color-primary-s1n: hsl(var(--color-primary-h), var(--primary-s1n), var(--color-primary-l));
  --color-primary-s1nl1n: hsl(var(--color-primary-h), var(--primary-s1n), calc(.75 * var(--color-primary-l)));
  --color-primary-s1nl2n: hsl(var(--color-primary-h), var(--primary-s1n), calc(.5 * var(--color-primary-l)));
  --color-primary-s1nl3n: hsl(var(--color-primary-h), var(--primary-s1n), calc(.3 * var(--color-primary-l)));
  --color-primary-s1nl4n: hsl(var(--color-primary-h), var(--primary-s1n), calc(.15 * var(--color-primary-l)));

  /* secondary */

  --color-secondary-h: 290;
  --color-secondary-s: 100%;
  --color-secondary-l: 70%;
  --color-secondary-hs: var(--color-secondary-h), var(--color-secondary-s);
  --color-secondary-hsl: var(--color-secondary-hs), var(--color-secondary-l);
  --secondary-s1n: calc(0.3 * var(--color-secondary-s));

  --color-secondary-l4: hsl(var(--color-secondary-hs), calc(var(--color-secondary-l) + .9 * (100% - var(--color-secondary-l))));
  --color-secondary-l3: hsl(var(--color-secondary-hs), calc(var(--color-secondary-l) + .75 * (100% - var(--color-secondary-l))));
  --color-secondary-l2: hsl(var(--color-secondary-hs), calc(var(--color-secondary-l) + .5 * (100% - var(--color-secondary-l))));
  --color-secondary-l1: hsl(var(--color-secondary-hs), calc(var(--color-secondary-l) + .25 * (100% - var(--color-secondary-l))));
  --color-secondary: hsl(var(--color-secondary-hsl));
  --color-secondary-l1n: hsl(var(--color-secondary-hs), calc(.75 * var(--color-secondary-l)));
  --color-secondary-l2n: hsl(var(--color-secondary-hs), calc(.5 * var(--color-secondary-l)));
  --color-secondary-l3n: hsl(var(--color-secondary-hs), calc(.3 * var(--color-secondary-l)));
  --color-secondary-l4n: hsl(var(--color-secondary-hs), calc(.15 * var(--color-secondary-l)));

  --color-secondary-s1nl4: hsl(var(--color-secondary-h), var(--secondary-s1n), calc(var(--color-secondary-l) + .9 * (100% - var(--color-secondary-l))));
  --color-secondary-s1nl3: hsl(var(--color-secondary-h), var(--secondary-s1n), calc(var(--color-secondary-l) + .75 * (100% - var(--color-secondary-l))));
  --color-secondary-s1nl2: hsl(var(--color-secondary-h), var(--secondary-s1n), calc(var(--color-secondary-l) + .5 * (100% - var(--color-secondary-l))));
  --color-secondary-s1nl1: hsl(var(--color-secondary-h), var(--secondary-s1n), calc(var(--color-secondary-l) + .25 * (100% - var(--color-secondary-l))));
  --color-secondary-s1n: hsl(var(--color-secondary-h), var(--secondary-s1n), var(--color-secondary-l));
  --color-secondary-s1nl1n: hsl(var(--color-secondary-h), var(--secondary-s1n), calc(.75 * var(--color-secondary-l)));
  --color-secondary-s1nl2n: hsl(var(--color-secondary-h), var(--secondary-s1n), calc(.5 * var(--color-secondary-l)));
  --color-secondary-s1nl3n: hsl(var(--color-secondary-h), var(--secondary-s1n), calc(.3 * var(--color-secondary-l)));
  --color-secondary-s1nl4n: hsl(var(--color-secondary-h), var(--secondary-s1n), calc(.15 * var(--color-secondary-l)));

  /* accent */

  --color-accent-h: 201;
  --color-accent-s: 100%;
  --color-accent-l: 70%;
  --color-accent-hs: var(--color-accent-h), var(--color-accent-s);
  --color-accent-hsl: var(--color-accent-hs), var(--color-accent-l);
  --accent-s1n: calc(0.3 * var(--color-accent-s));

  --color-accent-l4: hsl(var(--color-accent-hs), calc(var(--color-accent-l) + .9 * (100% - var(--color-accent-l))));
  --color-accent-l3: hsl(var(--color-accent-hs), calc(var(--color-accent-l) + .75 * (100% - var(--color-accent-l))));
  --color-accent-l2: hsl(var(--color-accent-hs), calc(var(--color-accent-l) + .5 * (100% - var(--color-accent-l))));
  --color-accent-l1: hsl(var(--color-accent-hs), calc(var(--color-accent-l) + .25 * (100% - var(--color-accent-l))));
  --color-accent: hsl(var(--color-accent-hsl));
  --color-accent-l1n: hsl(var(--color-accent-hs), calc(.75 * var(--color-accent-l)));
  --color-accent-l2n: hsl(var(--color-accent-hs), calc(.5 * var(--color-accent-l)));
  --color-accent-l3n: hsl(var(--color-accent-hs), calc(.3 * var(--color-accent-l)));
  --color-accent-l4n: hsl(var(--color-accent-hs), calc(.15 * var(--color-accent-l)));

  --color-accent-s1nl4: hsl(var(--color-accent-h), var(--accent-s1n), calc(var(--color-accent-l) + .9 * (100% - var(--color-accent-l))));
  --color-accent-s1nl3: hsl(var(--color-accent-h), var(--accent-s1n), calc(var(--color-accent-l) + .75 * (100% - var(--color-accent-l))));
  --color-accent-s1nl2: hsl(var(--color-accent-h), var(--accent-s1n), calc(var(--color-accent-l) + .5 * (100% - var(--color-accent-l))));
  --color-accent-s1nl1: hsl(var(--color-accent-h), var(--accent-s1n), calc(var(--color-accent-l) + .25 * (100% - var(--color-accent-l))));
  --color-accent-s1n: hsl(var(--color-accent-h), var(--accent-s1n), var(--color-accent-l));
  --color-accent-s1nl1n: hsl(var(--color-accent-h), var(--accent-s1n), calc(.75 * var(--color-accent-l)));
  --color-accent-s1nl2n: hsl(var(--color-accent-h), var(--accent-s1n), calc(.5 * var(--color-accent-l)));
  --color-accent-s1nl3n: hsl(var(--color-accent-h), var(--accent-s1n), calc(.3 * var(--color-accent-l)));
  --color-accent-s1nl4n: hsl(var(--color-accent-h), var(--accent-s1n), calc(.15 * var(--color-accent-l)));

  /* background */

  --color-background-h: 230;
  --color-background-s: 17%;
  --color-background-l: 86%;
  --color-background-hs: var(--color-background-h), var(--color-background-s);
  --color-background-hsl: var(--color-background-hs), var(--color-background-l);
  --background-s1n: calc(0.3 * var(--color-background-s));

  --color-background-l4: hsl(var(--color-background-hs), calc(var(--color-background-l) + .9 * (100% - var(--color-background-l))));
  --color-background-l3: hsl(var(--color-background-hs), calc(var(--color-background-l) + .75 * (100% - var(--color-background-l))));
  --color-background-l2: hsl(var(--color-background-hs), calc(var(--color-background-l) + .5 * (100% - var(--color-background-l))));
  --color-background-l1: hsl(var(--color-background-hs), calc(var(--color-background-l) + .25 * (100% - var(--color-background-l))));
  --color-background: hsl(var(--color-background-hsl));
  --color-background-l1n: hsl(var(--color-background-hs), calc(.75 * var(--color-background-l)));
  --color-background-l2n: hsl(var(--color-background-hs), calc(.5 * var(--color-background-l)));
  --color-background-l3n: hsl(var(--color-background-hs), calc(.3 * var(--color-background-l)));
  --color-background-l4n: hsl(var(--color-background-hs), calc(.15 * var(--color-background-l)));

  --color-background-s1nl4: hsl(var(--color-background-h), var(--background-s1n), calc(var(--color-background-l) + .9 * (100% - var(--color-background-l))));
  --color-background-s1nl3: hsl(var(--color-background-h), var(--background-s1n), calc(var(--color-background-l) + .75 * (100% - var(--color-background-l))));
  --color-background-s1nl2: hsl(var(--color-background-h), var(--background-s1n), calc(var(--color-background-l) + .5 * (100% - var(--color-background-l))));
  --color-background-s1nl1: hsl(var(--color-background-h), var(--background-s1n), calc(var(--color-background-l) + .25 * (100% - var(--color-background-l))));
  --color-background-s1n: hsl(var(--color-background-h), var(--background-s1n), var(--color-background-l));
  --color-background-s1nl1n: hsl(var(--color-background-h), var(--background-s1n), calc(.75 * var(--color-background-l)));
  --color-background-s1nl2n: hsl(var(--color-background-h), var(--background-s1n), calc(.5 * var(--color-background-l)));
  --color-background-s1nl3n: hsl(var(--color-background-h), var(--background-s1n), calc(.3 * var(--color-background-l)));
  --color-background-s1nl4n: hsl(var(--color-background-h), var(--background-s1n), calc(.15 * var(--color-background-l)));

  /* surface */

  --color-surface-h: 228;
  --color-surface-s: 28%;
  --color-surface-l: 31%;
  --color-surface-hs: var(--color-surface-h), var(--color-surface-s);
  --color-surface-hsl: var(--color-surface-hs), var(--color-surface-l);
  --surface-s1n: calc(0.3 * var(--color-surface-s));

  --color-surface-l4: hsl(var(--color-surface-hs), calc(var(--color-surface-l) + .9 * (100% - var(--color-surface-l))));
  --color-surface-l3: hsl(var(--color-surface-hs), calc(var(--color-surface-l) + .75 * (100% - var(--color-surface-l))));
  --color-surface-l2: hsl(var(--color-surface-hs), calc(var(--color-surface-l) + .5 * (100% - var(--color-surface-l))));
  --color-surface-l1: hsl(var(--color-surface-hs), calc(var(--color-surface-l) + .25 * (100% - var(--color-surface-l))));
  --color-surface: hsl(var(--color-surface-hsl));
  --color-surface-l1n: hsl(var(--color-surface-hs), calc(.75 * var(--color-surface-l)));
  --color-surface-l2n: hsl(var(--color-surface-hs), calc(.5 * var(--color-surface-l)));
  --color-surface-l3n: hsl(var(--color-surface-hs), calc(.3 * var(--color-surface-l)));
  --color-surface-l4n: hsl(var(--color-surface-hs), calc(.15 * var(--color-surface-l)));

  --color-surface-s1nl4: hsl(var(--color-surface-h), var(--surface-s1n), calc(var(--color-surface-l) + .9 * (100% - var(--color-surface-l))));
  --color-surface-s1nl3: hsl(var(--color-surface-h), var(--surface-s1n), calc(var(--color-surface-l) + .75 * (100% - var(--color-surface-l))));
  --color-surface-s1nl2: hsl(var(--color-surface-h), var(--surface-s1n), calc(var(--color-surface-l) + .5 * (100% - var(--color-surface-l))));
  --color-surface-s1nl1: hsl(var(--color-surface-h), var(--surface-s1n), calc(var(--color-surface-l) + .25 * (100% - var(--color-surface-l))));
  --color-surface-s1n: hsl(var(--color-surface-h), var(--surface-s1n), var(--color-surface-l));
  --color-surface-s1nl1n: hsl(var(--color-surface-h), var(--surface-s1n), calc(.75 * var(--color-surface-l)));
  --color-surface-s1nl2n: hsl(var(--color-surface-h), var(--surface-s1n), calc(.5 * var(--color-surface-l)));
  --color-surface-s1nl3n: hsl(var(--color-surface-h), var(--surface-s1n), calc(.3 * var(--color-surface-l)));
  --color-surface-s1nl4n: hsl(var(--color-surface-h), var(--surface-s1n), calc(.15 * var(--color-surface-l)));

  /* error */

  --color-error-h: 0;
  --color-error-s: 100%;
  --color-error-l: 70%;
  --color-error-hs: var(--color-error-h), var(--color-error-s);
  --color-error-hsl: var(--color-error-hs), var(--color-error-l);
  --error-s1n: calc(0.3 * var(--color-error-s));

  --color-error-l4: hsl(var(--color-error-hs), calc(var(--color-error-l) + .9 * (100% - var(--color-error-l))));
  --color-error-l3: hsl(var(--color-error-hs), calc(var(--color-error-l) + .75 * (100% - var(--color-error-l))));
  --color-error-l2: hsl(var(--color-error-hs), calc(var(--color-error-l) + .5 * (100% - var(--color-error-l))));
  --color-error-l1: hsl(var(--color-error-hs), calc(var(--color-error-l) + .25 * (100% - var(--color-error-l))));
  --color-error: hsl(var(--color-error-hsl));
  --color-error-l1n: hsl(var(--color-error-hs), calc(.75 * var(--color-error-l)));
  --color-error-l2n: hsl(var(--color-error-hs), calc(.5 * var(--color-error-l)));
  --color-error-l3n: hsl(var(--color-error-hs), calc(.3 * var(--color-error-l)));
  --color-error-l4n: hsl(var(--color-error-hs), calc(.15 * var(--color-error-l)));

  --color-error-s1nl4: hsl(var(--color-error-h), var(--error-s1n), calc(var(--color-error-l) + .9 * (100% - var(--color-error-l))));
  --color-error-s1nl3: hsl(var(--color-error-h), var(--error-s1n), calc(var(--color-error-l) + .75 * (100% - var(--color-error-l))));
  --color-error-s1nl2: hsl(var(--color-error-h), var(--error-s1n), calc(var(--color-error-l) + .5 * (100% - var(--color-error-l))));
  --color-error-s1nl1: hsl(var(--color-error-h), var(--error-s1n), calc(var(--color-error-l) + .25 * (100% - var(--color-error-l))));
  --color-error-s1n: hsl(var(--color-error-h), var(--error-s1n), var(--color-error-l));
  --color-error-s1nl1n: hsl(var(--color-error-h), var(--error-s1n), calc(.75 * var(--color-error-l)));
  --color-error-s1nl2n: hsl(var(--color-error-h), var(--error-s1n), calc(.5 * var(--color-error-l)));
  --color-error-s1nl3n: hsl(var(--color-error-h), var(--error-s1n), calc(.3 * var(--color-error-l)));
  --color-error-s1nl4n: hsl(var(--color-error-h), var(--error-s1n), calc(.15 * var(--color-error-l)));

  /* success */

  --color-success-h: 171;
  --color-success-s: 100%;
  --color-success-l: 37%;
  --color-success-hs: var(--color-success-h), var(--color-success-s);
  --color-success-hsl: var(--color-success-hs), var(--color-success-l);
  --success-s1n: calc(0.3 * var(--color-success-s));

  --color-success-l4: hsl(var(--color-success-hs), calc(var(--color-success-l) + .9 * (100% - var(--color-success-l))));
  --color-success-l3: hsl(var(--color-success-hs), calc(var(--color-success-l) + .75 * (100% - var(--color-success-l))));
  --color-success-l2: hsl(var(--color-success-hs), calc(var(--color-success-l) + .5 * (100% - var(--color-success-l))));
  --color-success-l1: hsl(var(--color-success-hs), calc(var(--color-success-l) + .25 * (100% - var(--color-success-l))));
  --color-success: hsl(var(--color-success-hsl));
  --color-success-l1n: hsl(var(--color-success-hs), calc(.75 * var(--color-success-l)));
  --color-success-l2n: hsl(var(--color-success-hs), calc(.5 * var(--color-success-l)));
  --color-success-l3n: hsl(var(--color-success-hs), calc(.3 * var(--color-success-l)));
  --color-success-l4n: hsl(var(--color-success-hs), calc(.15 * var(--color-success-l)));

  --color-success-s1nl4: hsl(var(--color-success-h), var(--success-s1n), calc(var(--color-success-l) + .9 * (100% - var(--color-success-l))));
  --color-success-s1nl3: hsl(var(--color-success-h), var(--success-s1n), calc(var(--color-success-l) + .75 * (100% - var(--color-success-l))));
  --color-success-s1nl2: hsl(var(--color-success-h), var(--success-s1n), calc(var(--color-success-l) + .5 * (100% - var(--color-success-l))));
  --color-success-s1nl1: hsl(var(--color-success-h), var(--success-s1n), calc(var(--color-success-l) + .25 * (100% - var(--color-success-l))));
  --color-success-s1n: hsl(var(--color-success-h), var(--success-s1n), var(--color-success-l));
  --color-success-s1nl1n: hsl(var(--color-success-h), var(--success-s1n), calc(.75 * var(--color-success-l)));
  --color-success-s1nl2n: hsl(var(--color-success-h), var(--success-s1n), calc(.5 * var(--color-success-l)));
  --color-success-s1nl3n: hsl(var(--color-success-h), var(--success-s1n), calc(.3 * var(--color-success-l)));
  --color-success-s1nl4n: hsl(var(--color-success-h), var(--success-s1n), calc(.15 * var(--color-success-l)));




  --color-primary-rgb: 90, 90, 255;
  --color-secondary-rgb: 230, 100, 255;
  --color-accent-rgb: 100, 200, 255;
  --color-background-rgb: 255, 255, 255;
  --color-surface-rgb: 57, 66, 101;
  --color-error-rgb: 255, 100, 100;
  --color-success-rgb: 0, 190, 160;

  --color-grey-rgb: 130, 130, 130;
  --alpha-1: 0.04;
  --alpha-2: 0.08;
  --alpha-3: 0.16;
  --alpha-4: 0.24;
  --alpha-5: 0.32;
  --alpha-6: 0.40;
  --alpha-7: 0.56;
  --alpha-8: 0.72;
  --alpha-9: 0.88;
}

/* #endregion */

/* #region Color classes */

/* primary */

.primary-bg {
  background-color: var(--color-primary);
}
.primary-bg.bg-l4 {
  background-color: var(--color-primary-l4);
}
.primary-bg.bg-l3 {
  background-color: var(--color-primary-l3);
}
.primary-bg.bg-l2 {
  background-color: var(--color-primary-l2);
}
.primary-bg.bg-l1 {
  background-color: var(--color-primary-l1);
}
.primary-bg.bg-l1n {
  background-color: var(--color-primary-l1n);
}
.primary-bg.bg-l2n {
  background-color: var(--color-primary-l2n);
}
.primary-bg.bg-l3n {
  background-color: var(--color-primary-l3n);
}
.primary-bg.bg-l4n {
  background-color: var(--color-primary-l4n);
}
.primary-bg.bg-s1n {
  background-color: var(--color-primary-s1n);
}
.primary-bg.bg-s1n.bg-l4 {
  background-color: var(--color-primary-s1nl4);
}
.primary-bg.bg-s1n.bg-l3 {
  background-color: var(--color-primary-s1nl3);
}
.primary-bg.bg-s1n.bg-l2 {
  background-color: var(--color-primary-s1nl2);
}
.primary-bg.bg-s1n.bg-l1 {
  background-color: var(--color-primary-s1nl1);
}
.primary-bg.bg-s1n.bg-l1n {
  background-color: var(--color-primary-s1nl1n);
}
.primary-bg.bg-s1n.bg-l2n {
  background-color: var(--color-primary-s1nl2n);
}
.primary-bg.bg-s1n.bg-l3n {
  background-color: var(--color-primary-s1nl3n);
}
.primary-bg.bg-s1n.bg-l4n {
  background-color: var(--color-primary-s1nl4n);
}

.primary {
  color: var(--color-primary);
}
.primary.color-l4 {
  color: var(--color-primary-l4);
}
.primary.color-l3 {
  color: var(--color-primary-l3);
}
.primary.color-l2 {
  color: var(--color-primary-l2);
}
.primary.color-l1 {
  color: var(--color-primary-l1);
}
.primary.color-l1n {
  color: var(--color-primary-l1n);
}
.primary.color-l2n {
  color: var(--color-primary-l2n);
}
.primary.color-l3n {
  color: var(--color-primary-l3n);
}
.primary.color-l4n {
  color: var(--color-primary-l4n);
}
.primary.color-s1n {
  color: var(--color-primary-s1n);
}
.primary.color-s1n.color-l4 {
  color: var(--color-primary-s1nl4);
}
.primary.color-s1n.color-l3 {
  color: var(--color-primary-s1nl3);
}
.primary.color-s1n.color-l2 {
  color: var(--color-primary-s1nl2);
}
.primary.color-s1n.color-l1 {
  color: var(--color-primary-s1nl1);
}
.primary.color-s1n.color-l1n {
  color: var(--color-primary-s1nl1n);
}
.primary.color-s1n.color-l2n {
  color: var(--color-primary-s1nl2n);
}
.primary.color-s1n.color-l3n {
  color: var(--color-primary-s1nl3n);
}
.primary.color-s1n.color-l4n {
  color: var(--color-primary-s1nl4n);
}

/* secondary */

.secondary-bg {
  background-color: var(--color-secondary);
}
.secondary-bg.bg-l4 {
  background-color: var(--color-secondary-l4);
}
.secondary-bg.bg-l3 {
  background-color: var(--color-secondary-l3);
}
.secondary-bg.bg-l2 {
  background-color: var(--color-secondary-l2);
}
.secondary-bg.bg-l1 {
  background-color: var(--color-secondary-l1);
}
.secondary-bg.bg-l1n {
  background-color: var(--color-secondary-l1n);
}
.secondary-bg.bg-l2n {
  background-color: var(--color-secondary-l2n);
}
.secondary-bg.bg-l3n {
  background-color: var(--color-secondary-l3n);
}
.secondary-bg.bg-l4n {
  background-color: var(--color-secondary-l4n);
}
.secondary-bg.bg-s1n {
  background-color: var(--color-secondary-s1n);
}
.secondary-bg.bg-s1n.bg-l4 {
  background-color: var(--color-secondary-s1nl4);
}
.secondary-bg.bg-s1n.bg-l3 {
  background-color: var(--color-secondary-s1nl3);
}
.secondary-bg.bg-s1n.bg-l2 {
  background-color: var(--color-secondary-s1nl2);
}
.secondary-bg.bg-s1n.bg-l1 {
  background-color: var(--color-secondary-s1nl1);
}
.secondary-bg.bg-s1n.bg-l1n {
  background-color: var(--color-secondary-s1nl1n);
}
.secondary-bg.bg-s1n.bg-l2n {
  background-color: var(--color-secondary-s1nl2n);
}
.secondary-bg.bg-s1n.bg-l3n {
  background-color: var(--color-secondary-s1nl3n);
}
.secondary-bg.bg-s1n.bg-l4n {
  background-color: var(--color-secondary-s1nl4n);
}

.secondary {
  color: var(--color-secondary);
}
.secondary.color-l4 {
  color: var(--color-secondary-l4);
}
.secondary.color-l3 {
  color: var(--color-secondary-l3);
}
.secondary.color-l2 {
  color: var(--color-secondary-l2);
}
.secondary.color-l1 {
  color: var(--color-secondary-l1);
}
.secondary.color-l1n {
  color: var(--color-secondary-l1n);
}
.secondary.color-l2n {
  color: var(--color-secondary-l2n);
}
.secondary.color-l3n {
  color: var(--color-secondary-l3n);
}
.secondary.color-l4n {
  color: var(--color-secondary-l4n);
}
.secondary.color-s1n {
  color: var(--color-secondary-s1n);
}
.secondary.color-s1n.color-l4 {
  color: var(--color-secondary-s1nl4);
}
.secondary.color-s1n.color-l3 {
  color: var(--color-secondary-s1nl3);
}
.secondary.color-s1n.color-l2 {
  color: var(--color-secondary-s1nl2);
}
.secondary.color-s1n.color-l1 {
  color: var(--color-secondary-s1nl1);
}
.secondary.color-s1n.color-l1n {
  color: var(--color-secondary-s1nl1n);
}
.secondary.color-s1n.color-l2n {
  color: var(--color-secondary-s1nl2n);
}
.secondary.color-s1n.color-l3n {
  color: var(--color-secondary-s1nl3n);
}
.secondary.color-s1n.color-l4n {
  color: var(--color-secondary-s1nl4n);
}

/* accent */

.accent-bg {
  background-color: var(--color-accent);
}
.accent-bg.bg-l4 {
  background-color: var(--color-accent-l4);
}
.accent-bg.bg-l3 {
  background-color: var(--color-accent-l3);
}
.accent-bg.bg-l2 {
  background-color: var(--color-accent-l2);
}
.accent-bg.bg-l1 {
  background-color: var(--color-accent-l1);
}
.accent-bg.bg-l1n {
  background-color: var(--color-accent-l1n);
}
.accent-bg.bg-l2n {
  background-color: var(--color-accent-l2n);
}
.accent-bg.bg-l3n {
  background-color: var(--color-accent-l3n);
}
.accent-bg.bg-l4n {
  background-color: var(--color-accent-l4n);
}
.accent-bg.bg-s1n {
  background-color: var(--color-accent-s1n);
}
.accent-bg.bg-s1n.bg-l4 {
  background-color: var(--color-accent-s1nl4);
}
.accent-bg.bg-s1n.bg-l3 {
  background-color: var(--color-accent-s1nl3);
}
.accent-bg.bg-s1n.bg-l2 {
  background-color: var(--color-accent-s1nl2);
}
.accent-bg.bg-s1n.bg-l1 {
  background-color: var(--color-accent-s1nl1);
}
.accent-bg.bg-s1n.bg-l1n {
  background-color: var(--color-accent-s1nl1n);
}
.accent-bg.bg-s1n.bg-l2n {
  background-color: var(--color-accent-s1nl2n);
}
.accent-bg.bg-s1n.bg-l3n {
  background-color: var(--color-accent-s1nl3n);
}
.accent-bg.bg-s1n.bg-l4n {
  background-color: var(--color-accent-s1nl4n);
}

.accent {
  color: var(--color-accent);
}
.accent.color-l4 {
  color: var(--color-accent-l4);
}
.accent.color-l3 {
  color: var(--color-accent-l3);
}
.accent.color-l2 {
  color: var(--color-accent-l2);
}
.accent.color-l1 {
  color: var(--color-accent-l1);
}
.accent.color-l1n {
  color: var(--color-accent-l1n);
}
.accent.color-l2n {
  color: var(--color-accent-l2n);
}
.accent.color-l3n {
  color: var(--color-accent-l3n);
}
.accent.color-l4n {
  color: var(--color-accent-l4n);
}
.accent.color-s1n {
  color: var(--color-accent-s1n);
}
.accent.color-s1n.color-l4 {
  color: var(--color-accent-s1nl4);
}
.accent.color-s1n.color-l3 {
  color: var(--color-accent-s1nl3);
}
.accent.color-s1n.color-l2 {
  color: var(--color-accent-s1nl2);
}
.accent.color-s1n.color-l1 {
  color: var(--color-accent-s1nl1);
}
.accent.color-s1n.color-l1n {
  color: var(--color-accent-s1nl1n);
}
.accent.color-s1n.color-l2n {
  color: var(--color-accent-s1nl2n);
}
.accent.color-s1n.color-l3n {
  color: var(--color-accent-s1nl3n);
}
.accent.color-s1n.color-l4n {
  color: var(--color-accent-s1nl4n);
}

/* background */

.background-bg {
  background-color: var(--color-background);
}
.background-bg.bg-l4 {
  background-color: var(--color-background-l4);
}
.background-bg.bg-l3 {
  background-color: var(--color-background-l3);
}
.background-bg.bg-l2 {
  background-color: var(--color-background-l2);
}
.background-bg.bg-l1 {
  background-color: var(--color-background-l1);
}
.background-bg.bg-l1n {
  background-color: var(--color-background-l1n);
}
.background-bg.bg-l2n {
  background-color: var(--color-background-l2n);
}
.background-bg.bg-l3n {
  background-color: var(--color-background-l3n);
}
.background-bg.bg-l4n {
  background-color: var(--color-background-l4n);
}
.background-bg.bg-s1n {
  background-color: var(--color-background-s1n);
}
.background-bg.bg-s1n.bg-l4 {
  background-color: var(--color-background-s1nl4);
}
.background-bg.bg-s1n.bg-l3 {
  background-color: var(--color-background-s1nl3);
}
.background-bg.bg-s1n.bg-l2 {
  background-color: var(--color-background-s1nl2);
}
.background-bg.bg-s1n.bg-l1 {
  background-color: var(--color-background-s1nl1);
}
.background-bg.bg-s1n.bg-l1n {
  background-color: var(--color-background-s1nl1n);
}
.background-bg.bg-s1n.bg-l2n {
  background-color: var(--color-background-s1nl2n);
}
.background-bg.bg-s1n.bg-l3n {
  background-color: var(--color-background-s1nl3n);
}
.background-bg.bg-s1n.bg-l4n {
  background-color: var(--color-background-s1nl4n);
}

.background {
  color: var(--color-background);
}
.background.color-l4 {
  color: var(--color-background-l4);
}
.background.color-l3 {
  color: var(--color-background-l3);
}
.background.color-l2 {
  color: var(--color-background-l2);
}
.background.color-l1 {
  color: var(--color-background-l1);
}
.background.color-l1n {
  color: var(--color-background-l1n);
}
.background.color-l2n {
  color: var(--color-background-l2n);
}
.background.color-l3n {
  color: var(--color-background-l3n);
}
.background.color-l4n {
  color: var(--color-background-l4n);
}
.background.color-s1n {
  color: var(--color-background-s1n);
}
.background.color-s1n.color-l4 {
  color: var(--color-background-s1nl4);
}
.background.color-s1n.color-l3 {
  color: var(--color-background-s1nl3);
}
.background.color-s1n.color-l2 {
  color: var(--color-background-s1nl2);
}
.background.color-s1n.color-l1 {
  color: var(--color-background-s1nl1);
}
.background.color-s1n.color-l1n {
  color: var(--color-background-s1nl1n);
}
.background.color-s1n.color-l2n {
  color: var(--color-background-s1nl2n);
}
.background.color-s1n.color-l3n {
  color: var(--color-background-s1nl3n);
}
.background.color-s1n.color-l4n {
  color: var(--color-background-s1nl4n);
}

/* surface */

.surface-bg {
  background-color: var(--color-surface);
}
.surface-bg.bg-l4 {
  background-color: var(--color-surface-l4);
}
.surface-bg.bg-l3 {
  background-color: var(--color-surface-l3);
}
.surface-bg.bg-l2 {
  background-color: var(--color-surface-l2);
}
.surface-bg.bg-l1 {
  background-color: var(--color-surface-l1);
}
.surface-bg.bg-l1n {
  background-color: var(--color-surface-l1n);
}
.surface-bg.bg-l2n {
  background-color: var(--color-surface-l2n);
}
.surface-bg.bg-l3n {
  background-color: var(--color-surface-l3n);
}
.surface-bg.bg-l4n {
  background-color: var(--color-surface-l4n);
}
.surface-bg.bg-s1n {
  background-color: var(--color-surface-s1n);
}
.surface-bg.bg-s1n.bg-l4 {
  background-color: var(--color-surface-s1nl4);
}
.surface-bg.bg-s1n.bg-l3 {
  background-color: var(--color-surface-s1nl3);
}
.surface-bg.bg-s1n.bg-l2 {
  background-color: var(--color-surface-s1nl2);
}
.surface-bg.bg-s1n.bg-l1 {
  background-color: var(--color-surface-s1nl1);
}
.surface-bg.bg-s1n.bg-l1n {
  background-color: var(--color-surface-s1nl1n);
}
.surface-bg.bg-s1n.bg-l2n {
  background-color: var(--color-surface-s1nl2n);
}
.surface-bg.bg-s1n.bg-l3n {
  background-color: var(--color-surface-s1nl3n);
}
.surface-bg.bg-s1n.bg-l4n {
  background-color: var(--color-surface-s1nl4n);
}

.surface {
  color: var(--color-surface);
}
.surface.color-l4 {
  color: var(--color-surface-l4);
}
.surface.color-l3 {
  color: var(--color-surface-l3);
}
.surface.color-l2 {
  color: var(--color-surface-l2);
}
.surface.color-l1 {
  color: var(--color-surface-l1);
}
.surface.color-l1n {
  color: var(--color-surface-l1n);
}
.surface.color-l2n {
  color: var(--color-surface-l2n);
}
.surface.color-l3n {
  color: var(--color-surface-l3n);
}
.surface.color-l4n {
  color: var(--color-surface-l4n);
}
.surface.color-s1n {
  color: var(--color-surface-s1n);
}
.surface.color-s1n.color-l4 {
  color: var(--color-surface-s1nl4);
}
.surface.color-s1n.color-l3 {
  color: var(--color-surface-s1nl3);
}
.surface.color-s1n.color-l2 {
  color: var(--color-surface-s1nl2);
}
.surface.color-s1n.color-l1 {
  color: var(--color-surface-s1nl1);
}
.surface.color-s1n.color-l1n {
  color: var(--color-surface-s1nl1n);
}
.surface.color-s1n.color-l2n {
  color: var(--color-surface-s1nl2n);
}
.surface.color-s1n.color-l3n {
  color: var(--color-surface-s1nl3n);
}
.surface.color-s1n.color-l4n {
  color: var(--color-surface-s1nl4n);
}

/* error */

.error-bg {
  background-color: var(--color-error);
}
.error-bg.bg-l4 {
  background-color: var(--color-error-l4);
}
.error-bg.bg-l3 {
  background-color: var(--color-error-l3);
}
.error-bg.bg-l2 {
  background-color: var(--color-error-l2);
}
.error-bg.bg-l1 {
  background-color: var(--color-error-l1);
}
.error-bg.bg-l1n {
  background-color: var(--color-error-l1n);
}
.error-bg.bg-l2n {
  background-color: var(--color-error-l2n);
}
.error-bg.bg-l3n {
  background-color: var(--color-error-l3n);
}
.error-bg.bg-l4n {
  background-color: var(--color-error-l4n);
}
.error-bg.bg-s1n {
  background-color: var(--color-error-s1n);
}
.error-bg.bg-s1n.bg-l4 {
  background-color: var(--color-error-s1nl4);
}
.error-bg.bg-s1n.bg-l3 {
  background-color: var(--color-error-s1nl3);
}
.error-bg.bg-s1n.bg-l2 {
  background-color: var(--color-error-s1nl2);
}
.error-bg.bg-s1n.bg-l1 {
  background-color: var(--color-error-s1nl1);
}
.error-bg.bg-s1n.bg-l1n {
  background-color: var(--color-error-s1nl1n);
}
.error-bg.bg-s1n.bg-l2n {
  background-color: var(--color-error-s1nl2n);
}
.error-bg.bg-s1n.bg-l3n {
  background-color: var(--color-error-s1nl3n);
}
.error-bg.bg-s1n.bg-l4n {
  background-color: var(--color-error-s1nl4n);
}

.error {
  color: var(--color-error);
}
.error.color-l4 {
  color: var(--color-error-l4);
}
.error.color-l3 {
  color: var(--color-error-l3);
}
.error.color-l2 {
  color: var(--color-error-l2);
}
.error.color-l1 {
  color: var(--color-error-l1);
}
.error.color-l1n {
  color: var(--color-error-l1n);
}
.error.color-l2n {
  color: var(--color-error-l2n);
}
.error.color-l3n {
  color: var(--color-error-l3n);
}
.error.color-l4n {
  color: var(--color-error-l4n);
}
.error.color-s1n {
  color: var(--color-error-s1n);
}
.error.color-s1n.color-l4 {
  color: var(--color-error-s1nl4);
}
.error.color-s1n.color-l3 {
  color: var(--color-error-s1nl3);
}
.error.color-s1n.color-l2 {
  color: var(--color-error-s1nl2);
}
.error.color-s1n.color-l1 {
  color: var(--color-error-s1nl1);
}
.error.color-s1n.color-l1n {
  color: var(--color-error-s1nl1n);
}
.error.color-s1n.color-l2n {
  color: var(--color-error-s1nl2n);
}
.error.color-s1n.color-l3n {
  color: var(--color-error-s1nl3n);
}
.error.color-s1n.color-l4n {
  color: var(--color-error-s1nl4n);
}

/* success */

.success-bg {
  background-color: var(--color-success);
}
.success-bg.bg-l4 {
  background-color: var(--color-success-l4);
}
.success-bg.bg-l3 {
  background-color: var(--color-success-l3);
}
.success-bg.bg-l2 {
  background-color: var(--color-success-l2);
}
.success-bg.bg-l1 {
  background-color: var(--color-success-l1);
}
.success-bg.bg-l1n {
  background-color: var(--color-success-l1n);
}
.success-bg.bg-l2n {
  background-color: var(--color-success-l2n);
}
.success-bg.bg-l3n {
  background-color: var(--color-success-l3n);
}
.success-bg.bg-l4n {
  background-color: var(--color-success-l4n);
}
.success-bg.bg-s1n {
  background-color: var(--color-success-s1n);
}
.success-bg.bg-s1n.bg-l4 {
  background-color: var(--color-success-s1nl4);
}
.success-bg.bg-s1n.bg-l3 {
  background-color: var(--color-success-s1nl3);
}
.success-bg.bg-s1n.bg-l2 {
  background-color: var(--color-success-s1nl2);
}
.success-bg.bg-s1n.bg-l1 {
  background-color: var(--color-success-s1nl1);
}
.success-bg.bg-s1n.bg-l1n {
  background-color: var(--color-success-s1nl1n);
}
.success-bg.bg-s1n.bg-l2n {
  background-color: var(--color-success-s1nl2n);
}
.success-bg.bg-s1n.bg-l3n {
  background-color: var(--color-success-s1nl3n);
}
.success-bg.bg-s1n.bg-l4n {
  background-color: var(--color-success-s1nl4n);
}

.success {
  color: var(--color-success);
}
.success.color-l4 {
  color: var(--color-success-l4);
}
.success.color-l3 {
  color: var(--color-success-l3);
}
.success.color-l2 {
  color: var(--color-success-l2);
}
.success.color-l1 {
  color: var(--color-success-l1);
}
.success.color-l1n {
  color: var(--color-success-l1n);
}
.success.color-l2n {
  color: var(--color-success-l2n);
}
.success.color-l3n {
  color: var(--color-success-l3n);
}
.success.color-l4n {
  color: var(--color-success-l4n);
}
.success.color-s1n {
  color: var(--color-success-s1n);
}
.success.color-s1n.color-l4 {
  color: var(--color-success-s1nl4);
}
.success.color-s1n.color-l3 {
  color: var(--color-success-s1nl3);
}
.success.color-s1n.color-l2 {
  color: var(--color-success-s1nl2);
}
.success.color-s1n.color-l1 {
  color: var(--color-success-s1nl1);
}
.success.color-s1n.color-l1n {
  color: var(--color-success-s1nl1n);
}
.success.color-s1n.color-l2n {
  color: var(--color-success-s1nl2n);
}
.success.color-s1n.color-l3n {
  color: var(--color-success-s1nl3n);
}
.success.color-s1n.color-l4n {
  color: var(--color-success-s1nl4n);
}




/* 
.color-primary {
  color: var(--color-primary);
  fill: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
  fill: var(--color-secondary);
}
.color-accent {
  color: var(--color-accent);
  fill: var(--color-accent);
}
.color-background {
  color: var(--color-background);
  fill: var(--color-background);
}
.color-surface {
  color: var(--color-surface);
  fill: var(--color-surface);
}
.color-error {
  color: var(--color-error);
  fill: var(--color-error);
}
.color-success {
  color: var(--color-success);
  fill: var(--color-success);
}

.color-white {
  color: #ffffff;
  fill: #ffffff;
}
.color-black {
  color: #000000;
  fill: #000000;
}
.color-grey {
  color: rgb(var(--color-grey-rgb));
  fill: rgb(var(--color-grey-rgb));
}
.color-grey-3 {
  color: rgba(var(--color-grey-rgb), 0.75);
  fill: rgba(var(--color-grey-rgb), 0.75);
}
.color-grey-2 {
  color: rgba(var(--color-grey-rgb), 0.5);
  fill: rgba(var(--color-grey-rgb), 0.5);
}
.color-grey-1 {
  color: rgba(var(--color-grey-rgb), 0.25);
  fill: rgba(var(--color-grey-rgb), 0.25);
} */

/* #endregion */
