/* #region Color variables */

:root {

  /* primary */

  --color-primary-h: 240;
  --color-primary-s: 100%;
  --color-primary-l: 68%;
  --color-primary-hs: var(--color-primary-h), var(--color-primary-s);
  --color-primary-hsl: var(--color-primary-hs), var(--color-primary-l);
  --primary-s1n: calc(0.3 * var(--color-primary-s));

  --color-primary-l4: hsl(var(--color-primary-hs), calc(var(--color-primary-l) + .9 * (100% - var(--color-primary-l))));
  --color-primary-l3: hsl(var(--color-primary-hs), calc(var(--color-primary-l) + .75 * (100% - var(--color-primary-l))));
  --color-primary-l2: hsl(var(--color-primary-hs), calc(var(--color-primary-l) + .5 * (100% - var(--color-primary-l))));
  --color-primary-l1: hsl(var(--color-primary-hs), calc(var(--color-primary-l) + .25 * (100% - var(--color-primary-l))));
  --color-primary: hsl(var(--color-primary-hsl));
  --color-primary-l1n: hsl(var(--color-primary-hs), calc(.75 * var(--color-primary-l)));
  --color-primary-l2n: hsl(var(--color-primary-hs), calc(.5 * var(--color-primary-l)));
  --color-primary-l3n: hsl(var(--color-primary-hs), calc(.3 * var(--color-primary-l)));
  --color-primary-l4n: hsl(var(--color-primary-hs), calc(.15 * var(--color-primary-l)));

  --color-primary-s1nl4: hsl(var(--color-primary-h), var(--primary-s1n), calc(var(--color-primary-l) + .9 * (100% - var(--color-primary-l))));
  --color-primary-s1nl3: hsl(var(--color-primary-h), var(--primary-s1n), calc(var(--color-primary-l) + .75 * (100% - var(--color-primary-l))));
  --color-primary-s1nl2: hsl(var(--color-primary-h), var(--primary-s1n), calc(var(--color-primary-l) + .5 * (100% - var(--color-primary-l))));
  --color-primary-s1nl1: hsl(var(--color-primary-h), var(--primary-s1n), calc(var(--color-primary-l) + .25 * (100% - var(--color-primary-l))));
  --color-primary-s1n: hsl(var(--color-primary-h), var(--primary-s1n), var(--color-primary-l));
  --color-primary-s1nl1n: hsl(var(--color-primary-h), var(--primary-s1n), calc(.75 * var(--color-primary-l)));
  --color-primary-s1nl2n: hsl(var(--color-primary-h), var(--primary-s1n), calc(.5 * var(--color-primary-l)));
  --color-primary-s1nl3n: hsl(var(--color-primary-h), var(--primary-s1n), calc(.3 * var(--color-primary-l)));
  --color-primary-s1nl4n: hsl(var(--color-primary-h), var(--primary-s1n), calc(.15 * var(--color-primary-l)));

  /* secondary */

  --color-secondary-h: 170;
  --color-secondary-s: 100%;
  --color-secondary-l: 37%;
  --color-secondary-hs: var(--color-secondary-h), var(--color-secondary-s);
  --color-secondary-hsl: var(--color-secondary-hs), var(--color-secondary-l);
  --secondary-s1n: calc(0.3 * var(--color-secondary-s));

  --color-secondary-l4: hsl(var(--color-secondary-hs), calc(var(--color-secondary-l) + .9 * (100% - var(--color-secondary-l))));
  --color-secondary-l3: hsl(var(--color-secondary-hs), calc(var(--color-secondary-l) + .75 * (100% - var(--color-secondary-l))));
  --color-secondary-l2: hsl(var(--color-secondary-hs), calc(var(--color-secondary-l) + .5 * (100% - var(--color-secondary-l))));
  --color-secondary-l1: hsl(var(--color-secondary-hs), calc(var(--color-secondary-l) + .25 * (100% - var(--color-secondary-l))));
  --color-secondary: hsl(var(--color-secondary-hsl));
  --color-secondary-l1n: hsl(var(--color-secondary-hs), calc(.75 * var(--color-secondary-l)));
  --color-secondary-l2n: hsl(var(--color-secondary-hs), calc(.5 * var(--color-secondary-l)));
  --color-secondary-l3n: hsl(var(--color-secondary-hs), calc(.3 * var(--color-secondary-l)));
  --color-secondary-l4n: hsl(var(--color-secondary-hs), calc(.15 * var(--color-secondary-l)));

  --color-secondary-s1nl4: hsl(var(--color-secondary-h), var(--secondary-s1n), calc(var(--color-secondary-l) + .9 * (100% - var(--color-secondary-l))));
  --color-secondary-s1nl3: hsl(var(--color-secondary-h), var(--secondary-s1n), calc(var(--color-secondary-l) + .75 * (100% - var(--color-secondary-l))));
  --color-secondary-s1nl2: hsl(var(--color-secondary-h), var(--secondary-s1n), calc(var(--color-secondary-l) + .5 * (100% - var(--color-secondary-l))));
  --color-secondary-s1nl1: hsl(var(--color-secondary-h), var(--secondary-s1n), calc(var(--color-secondary-l) + .25 * (100% - var(--color-secondary-l))));
  --color-secondary-s1n: hsl(var(--color-secondary-h), var(--secondary-s1n), var(--color-secondary-l));
  --color-secondary-s1nl1n: hsl(var(--color-secondary-h), var(--secondary-s1n), calc(.75 * var(--color-secondary-l)));
  --color-secondary-s1nl2n: hsl(var(--color-secondary-h), var(--secondary-s1n), calc(.5 * var(--color-secondary-l)));
  --color-secondary-s1nl3n: hsl(var(--color-secondary-h), var(--secondary-s1n), calc(.3 * var(--color-secondary-l)));
  --color-secondary-s1nl4n: hsl(var(--color-secondary-h), var(--secondary-s1n), calc(.15 * var(--color-secondary-l)));




  --color-primary-rgb: 90, 90, 255;
  --color-secondary-rgb: 230, 100, 255;
  --color-accent-rgb: 100, 200, 255;
  --color-background-rgb: 255, 255, 255;
  --color-surface-rgb: 57, 66, 101;
  --color-error-rgb: 255, 100, 100;
  --color-success-rgb: 0, 190, 160;

  --color-grey-rgb: 130, 130, 130;
  --alpha-1: 0.04;
  --alpha-2: 0.08;
  --alpha-3: 0.16;
  --alpha-4: 0.24;
  --alpha-5: 0.32;
  --alpha-6: 0.40;
  --alpha-7: 0.56;
  --alpha-8: 0.72;
  --alpha-9: 0.88;

  --color-accent: #64C8FF;
  --color-background: #ffffff;
  --color-surface: #394265;
  --color-error: #FF6464;
  --color-success: #00BEA0;
}

/* #endregion */

/* #region Color classes */

/* primary */

.primary-bg.bg,
.primary-bg > .bg {
  background-color: var(--color-primary);
}
.primary-bg.bg-l4,
.primary-bg > .bg-l4 {
  background-color: var(--color-primary-l4);
}
.primary-bg.bg-l3,
.primary-bg > .bg-l3 {
  background-color: var(--color-primary-l3);
}
.primary-bg.bg-l2,
.primary-bg > .bg-l2 {
  background-color: var(--color-primary-l2);
}
.primary-bg.bg-l1,
.primary-bg > .bg-l1 {
  background-color: var(--color-primary-l1);
}
.primary-bg.bg-l1n,
.primary-bg > .bg-l1n {
  background-color: var(--color-primary-l1n);
}
.primary-bg.bg-l2n,
.primary-bg > .bg-l2n {
  background-color: var(--color-primary-l2n);
}
.primary-bg.bg-l3n,
.primary-bg > .bg-l3n {
  background-color: var(--color-primary-l3n);
}
.primary-bg.bg-l4n,
.primary-bg > .bg-l4n {
  background-color: var(--color-primary-l4n);
}
.primary-bg.bg-s1n,
.primary-bg > .bg-s1n {
  background-color: var(--color-primary-s1n);
}
.primary-bg.bg-s1n.bg-l4,
.primary-bg > .bg-s1n.bg-l4 {
  background-color: var(--color-primary-s1nl4);
}
.primary-bg.bg-s1n.bg-l3,
.primary-bg > .bg-s1n.bg-l3 {
  background-color: var(--color-primary-s1nl3);
}
.primary-bg.bg-s1n.bg-l2,
.primary-bg > .bg-s1n.bg-l2 {
  background-color: var(--color-primary-s1nl2);
}
.primary-bg.bg-s1n.bg-l1,
.primary-bg > .bg-s1n.bg-l1 {
  background-color: var(--color-primary-s1nl1);
}
.primary-bg.bg-s1n.bg-l1n,
.primary-bg > .bg-s1n.bg-l1n {
  background-color: var(--color-primary-s1nl1n);
}
.primary-bg.bg-s1n.bg-l2n,
.primary-bg > .bg-s1n.bg-l2n {
  background-color: var(--color-primary-s1nl2n);
}
.primary-bg.bg-s1n.bg-l3n,
.primary-bg > .bg-s1n.bg-l3n {
  background-color: var(--color-primary-s1nl3n);
}
.primary-bg.bg-s1n.bg-l4n,
.primary-bg > .bg-s1n.bg-l4n {
  background-color: var(--color-primary-s1nl4n);
}

.primary.color,
.primary > .color {
  color: var(--color-primary);
}
.primary.color-l4,
.primary > .color-l4 {
  color: var(--color-primary-l4);
}
.primary.color-l3,
.primary > .color-l3 {
  color: var(--color-primary-l3);
}
.primary.color-l2,
.primary > .color-l2 {
  color: var(--color-primary-l2);
}
.primary.color-l1,
.primary > .color-l1 {
  color: var(--color-primary-l1);
}
.primary.color-l1n,
.primary > .color-l1n {
  color: var(--color-primary-l1n);
}
.primary.color-l2n,
.primary > .color-l2n {
  color: var(--color-primary-l2n);
}
.primary.color-l3n,
.primary > .color-l3n {
  color: var(--color-primary-l3n);
}
.primary.color-l4n,
.primary > .color-l4n {
  color: var(--color-primary-l4n);
}
.primary.color-s1n,
.primary > .color-s1n {
  color: var(--color-primary-s1n);
}
.primary.color-s1n.color-l4,
.primary > .color-s1n.color-l4 {
  color: var(--color-primary-s1nl4);
}
.primary.color-s1n.color-l3,
.primary > .color-s1n.color-l3 {
  color: var(--color-primary-s1nl3);
}
.primary.color-s1n.color-l2,
.primary > .color-s1n.color-l2 {
  color: var(--color-primary-s1nl2);
}
.primary.color-s1n.color-l1,
.primary > .color-s1n.color-l1 {
  color: var(--color-primary-s1nl1);
}
.primary.color-s1n.color-l1n,
.primary > .color-s1n.color-l1n {
  color: var(--color-primary-s1nl1n);
}
.primary.color-s1n.color-l2n,
.primary > .color-s1n.color-l2n {
  color: var(--color-primary-s1nl2n);
}
.primary.color-s1n.color-l3n,
.primary > .color-s1n.color-l3n {
  color: var(--color-primary-s1nl3n);
}
.primary.color-s1n.color-l4n,
.primary > .color-s1n.color-l4n {
  color: var(--color-primary-s1nl4n);
}

/* secondary */

.secondary-bg.bg,
.secondary-bg > .bg {
  background-color: var(--color-secondary);
}
.secondary-bg.bg-l4,
.secondary-bg > .bg-l4 {
  background-color: var(--color-secondary-l4);
}
.secondary-bg.bg-l3,
.secondary-bg > .bg-l3 {
  background-color: var(--color-secondary-l3);
}
.secondary-bg.bg-l2,
.secondary-bg > .bg-l2 {
  background-color: var(--color-secondary-l2);
}
.secondary-bg.bg-l1,
.secondary-bg > .bg-l1 {
  background-color: var(--color-secondary-l1);
}
.secondary-bg.bg-l1n,
.secondary-bg > .bg-l1n {
  background-color: var(--color-secondary-l1n);
}
.secondary-bg.bg-l2n,
.secondary-bg > .bg-l2n {
  background-color: var(--color-secondary-l2n);
}
.secondary-bg.bg-l3n,
.secondary-bg > .bg-l3n {
  background-color: var(--color-secondary-l3n);
}
.secondary-bg.bg-l4n,
.secondary-bg > .bg-l4n {
  background-color: var(--color-secondary-l4n);
}
.secondary-bg.bg-s1n,
.secondary-bg > .bg-s1n {
  background-color: var(--color-secondary-s1n);
}
.secondary-bg.bg-s1n.bg-l4,
.secondary-bg > .bg-s1n.bg-l4 {
  background-color: var(--color-secondary-s1nl4);
}
.secondary-bg.bg-s1n.bg-l3,
.secondary-bg > .bg-s1n.bg-l3 {
  background-color: var(--color-secondary-s1nl3);
}
.secondary-bg.bg-s1n.bg-l2,
.secondary-bg > .bg-s1n.bg-l2 {
  background-color: var(--color-secondary-s1nl2);
}
.secondary-bg.bg-s1n.bg-l1,
.secondary-bg > .bg-s1n.bg-l1 {
  background-color: var(--color-secondary-s1nl1);
}
.secondary-bg.bg-s1n.bg-l1n,
.secondary-bg > .bg-s1n.bg-l1n {
  background-color: var(--color-secondary-s1nl1n);
}
.secondary-bg.bg-s1n.bg-l2n,
.secondary-bg > .bg-s1n.bg-l2n {
  background-color: var(--color-secondary-s1nl2n);
}
.secondary-bg.bg-s1n.bg-l3n,
.secondary-bg > .bg-s1n.bg-l3n {
  background-color: var(--color-secondary-s1nl3n);
}
.secondary-bg.bg-s1n.bg-l4n,
.secondary-bg > .bg-s1n.bg-l4n {
  background-color: var(--color-secondary-s1nl4n);
}

.secondary.color,
.secondary > .color {
  color: var(--color-secondary);
}
.secondary.color-l4,
.secondary > .color-l4 {
  color: var(--color-secondary-l4);
}
.secondary.color-l3,
.secondary > .color-l3 {
  color: var(--color-secondary-l3);
}
.secondary.color-l2,
.secondary > .color-l2 {
  color: var(--color-secondary-l2);
}
.secondary.color-l1,
.secondary > .color-l1 {
  color: var(--color-secondary-l1);
}
.secondary.color-l1n,
.secondary > .color-l1n {
  color: var(--color-secondary-l1n);
}
.secondary.color-l2n,
.secondary > .color-l2n {
  color: var(--color-secondary-l2n);
}
.secondary.color-l3n,
.secondary > .color-l3n {
  color: var(--color-secondary-l3n);
}
.secondary.color-l4n,
.secondary > .color-l4n {
  color: var(--color-secondary-l4n);
}
.secondary.color-s1n,
.secondary > .color-s1n {
  color: var(--color-secondary-s1n);
}
.secondary.color-s1n.color-l4,
.secondary > .color-s1n.color-l4 {
  color: var(--color-secondary-s1nl4);
}
.secondary.color-s1n.color-l3,
.secondary > .color-s1n.color-l3 {
  color: var(--color-secondary-s1nl3);
}
.secondary.color-s1n.color-l2,
.secondary > .color-s1n.color-l2 {
  color: var(--color-secondary-s1nl2);
}
.secondary.color-s1n.color-l1,
.secondary > .color-s1n.color-l1 {
  color: var(--color-secondary-s1nl1);
}
.secondary.color-s1n.color-l1n,
.secondary > .color-s1n.color-l1n {
  color: var(--color-secondary-s1nl1n);
}
.secondary.color-s1n.color-l2n,
.secondary > .color-s1n.color-l2n {
  color: var(--color-secondary-s1nl2n);
}
.secondary.color-s1n.color-l3n,
.secondary > .color-s1n.color-l3n {
  color: var(--color-secondary-s1nl3n);
}
.secondary.color-s1n.color-l4n,
.secondary > .color-s1n.color-l4n {
  color: var(--color-secondary-s1nl4n);
}






.color-primary {
  color: var(--color-primary);
  fill: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
  fill: var(--color-secondary);
}
.color-accent {
  color: var(--color-accent);
  fill: var(--color-accent);
}
.color-background {
  color: var(--color-background);
  fill: var(--color-background);
}
.color-surface {
  color: var(--color-surface);
  fill: var(--color-surface);
}
.color-error {
  color: var(--color-error);
  fill: var(--color-error);
}
.color-success {
  color: var(--color-success);
  fill: var(--color-success);
}

.color-white {
  color: #ffffff;
  fill: #ffffff;
}
.color-black {
  color: #000000;
  fill: #000000;
}
.color-grey {
  color: rgb(var(--color-grey-rgb));
  fill: rgb(var(--color-grey-rgb));
}
.color-grey-3 {
  color: rgba(var(--color-grey-rgb), 0.75);
  fill: rgba(var(--color-grey-rgb), 0.75);
}
.color-grey-2 {
  color: rgba(var(--color-grey-rgb), 0.5);
  fill: rgba(var(--color-grey-rgb), 0.5);
}
.color-grey-1 {
  color: rgba(var(--color-grey-rgb), 0.25);
  fill: rgba(var(--color-grey-rgb), 0.25);
}

/* #endregion */
