/* #region Box shadows */

:root {
  --box-glow: 0px 0px 0px 0.2rem rgb(var(--color-background-rgb)),
    0px 0px 1rem 0.2rem rgba(var(--color-background-rgb), var(--color-d4)), 
    0px 0px 1rem 0.2rem rgb(var(--color-background-rgb));


  --box-shadow-color: hsla(var(--background-color-h), var(--background-color-s), calc(var(--background-color-l) * var(--color-d8)), var(--color-d7));
  --box-shadow-color-l1: hsla(var(--background-color-h), var(--background-color-s), calc(var(--background-color-l) * var(--color-d8)), var(--color-d4));
  --box-shadow-l1: 0px 0px var(--spacing-4) var(--spacing-1) var(--box-shadow-color-l1);
  --box-shadow: 0px 0px var(--spacing-4) var(--spacing-1) var(--box-shadow-color);
  --box-shadow-l1-b: 0px var(--spacing-2) var(--spacing-4) var(--spacing-1n) var(--box-shadow-color-l1);
  --box-shadow-b: 0px var(--spacing-2) var(--spacing-4) var(--spacing-1n) var(--box-shadow-color);
}

.shadow {
  box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow-l1);
}

.shadow-b {
  box-shadow: var(--box-shadow-b);
  box-shadow: var(--box-shadow-l1-b);
}

/* #endregion */
