/* #region Box shadows */

:root {
  --box-glow: 0px 0px 0px 0.2rem rgb(var(--color-background-rgb)),
    0px 0px 1rem 0.2rem rgba(var(--color-background-rgb), var(--color-d4)), 
    0px 0px 1rem 0.2rem rgb(var(--color-background-rgb));
  --box-shadow: 0px 0px var(--spacing-6) var(--spacing-1) rgba(0, 0, 0, var(--color-d8));
}

.shadow {
  box-shadow: 0px 0px var(--spacing-4) var(--spacing-1) hsla(var(--background-color-h), var(--background-color-s), calc(var(--background-color-l) * var(--color-d8)), var(--color-d7));
}

.shadow-b {
  box-shadow: 0px var(--spacing-2) var(--spacing-4) var(--spacing-1n) hsla(var(--background-color-h), var(--background-color-s), calc(var(--background-color-l) * var(--color-d8)), var(--color-d7));
}

/* #endregion */
