.header-with-actions {
  display: grid;
  grid-template: 
    "t a" auto
    "s a" auto / auto 1fr;
}

.header-with-actions > h2 {
  grid-area: t;
}

.header-with-actions > h3 {
  grid-area: s;
}

.header-with-actions > div {
  grid-area: a;
}
