/* #region Reset */

html,
base,
head,
link,
meta,
style,
title,
body,
address,
article,
aside,
footer,
header,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
main,
nav,
section,
blockquote,
dd,
div,
dl,
dt,
figcaption,
figure,
hr,
li,
main,
ol,
p,
pre,
ul,
a,
abbr,
b,
bdi,
bdo,
br,
cite,
code,
data,
dfn,
em,
i,
kbd,
mark,
q,
rb,
rp,
rt,
rtc,
ruby,
s,
samp,
small,
span,
strong,
sub,
sup,
time,
u,
var,
wbr,
area,
audio,
img,
map,
track,
video,
embed,
iframe,
object,
param,
picture,
source,
canvas,
noscript,
script,
del,
ins,
caption,
col,
colgroup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
button,
datalist,
fieldset,
form,
input,
label,
legend,
meter,
optgroup,
option,
output,
progress,
select,
textarea,
details,
dialog,
menu,
summary,
slot,
template,
acronym,
applet,
basefont,
bgsound,
big,
blink,
center,
command,
content,
dir,
element,
font,
frame,
frameset,
image,
isindex,
keygen,
listing,
marquee,
menuitem,
multicol,
nextid,
nobr,
noembed,
noframes,
plaintext,
shadow,
spacer,
strike,
tt,
xmp {
  all: unset;
}

/* https://html.spec.whatwg.org/multipage/rendering.html */

[hidden], area, base, basefont, datalist, head, link, meta, noembed,
noframes, param, rp, script, source, style, template, track, title {
  display: none;
}

input[type="hidden"] { display: none !important; }

@media (scripting) {
  noscript { 
    display: none !important; 
  }
}

html, body { display: block; }

address, blockquote, center, dialog, div, figure, figcaption, footer, form,
header, hr, legend, listing, main, p, plaintext, pre, xmp {
  display: block;
}

article, aside, h1, h2, h3, h4, h5, h6, hgroup, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

dir, dd, dl, dt, menu, ol, ul { display: block; }
li { display: list-item; }

table { display: table; }
caption { display: table-caption; }
colgroup, colgroup[hidden] { display: table-column-group; }
col, col[hidden] { display: table-column; }
thead, thead[hidden] { display: table-header-group; }
tbody, tbody[hidden] { display: table-row-group; }
tfoot, tfoot[hidden] { display: table-footer-group; }
tr, tr[hidden] { display: table-row; }
td, th { display: table-cell; }

colgroup[hidden], col[hidden], thead[hidden], tbody[hidden],
tfoot[hidden], tr[hidden] {
  visibility: collapse;
}

input[type="reset"],
input[type="button"],
input[type="submit"],
button {
  text-align: center;
}

input[type="reset"],
input[type="button"],
input[type="submit"],
input[type="color"],
button {
  display: inline-block;
}

input[type="radio"],
input[type="checkbox"],
input[type="reset"],
input[type="button"],
input[type="submit"],
input[type="color"],
input[type="search"],
select,
button {
  box-sizing: border-box;
}

textarea { white-space: pre-wrap; }

/* #endregion */

/* #region Browser specific resets */

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/* #endregion */

/* #region Font faces */

@font-face {
  font-family: 'Noto Sans';
  src: url(./fonts/NotoSans-BoldItalic.ttf) format('truetype');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'Noto Sans';
  src: url(./fonts/NotoSans-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Noto Sans';
  src: url(./fonts/NotoSans-Italic.ttf) format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url(./fonts/NotoSans-Regular.ttf) format('truetype');
}

/* #endregion */

/* #region Spacing variables */

:root {
  --spacing-1: 0.35rem;
  --spacing-2: 0.7rem;
  --spacing-3: 1.05rem;
  --spacing-4: 1.4rem;
  --spacing-5: 1.75rem;
  --spacing-6: 2.1rem;
  --spacing-7: 2.45rem;
  --spacing-8: 2.8rem;

  --spacing-1n: -0.35rem;
  --spacing-2n: -0.7rem;
  --spacing-3n: -1.05rem;
  --spacing-4n: -1.4rem;
  --spacing-5n: -1.75rem;
  --spacing-6n: -2.1rem;
  --spacing-7n: -2.45rem;
  --spacing-8n: -2.8rem;
}

/* #endregion */

/* #region Font size variables */

:root {
  --f-1: 0.9rem;
  --f-2: 0.95rem;
  --f-3: 1rem;
  --f-4: 1.15rem;
  --f-5: 1.4rem;
  --f-6: 1.7rem;
  --f-7: 2.2rem;
  --f-8: 2.8rem;
  --f-8: 3.5rem;
}

/* #endregion */

/* #region Container size variables */

:root {
  --panel-min-width: min(360px, calc(100% - var(--spacing-5)));
  --panel-width: max-content;
  --panel-max-width: min(1280px, calc(100% - var(--spacing-5)));
}

/* #endregion */

/* #region Border radius variables */

:root {
  --radius-1: 0.8rem;
  --radius-2: 1.1rem;
  --radius-3: 1.4rem;
  --radius-4: 1.7rem;
  --radius-5: 2rem;

  --radius-1-rel: 0.8em;
  --radius-2-rel: 1.1em;
  --radius-3-rel: 1.4em;
  --radius-4-rel: 1.7em;
  --radius-5-rel: 2em;
}

/* #endregion */

/* #region Color variables */

:root {
  --color-primary-rgb: 90, 90, 255;
  --color-secondary-rgb: 230, 100, 255;
  --color-accent-rgb: 100, 200, 255;
  --color-background-rgb: 255, 255, 255;
  --color-surface-rgb: 57, 66, 101;
  --color-error-rgb: 255, 100, 100;
  --color-success-rgb: 0, 190, 160;

  --color-grey-rgb: 130, 130, 130;
  --alpha-1: 0.04;
  --alpha-2: 0.08;
  --alpha-3: 0.16;
  --alpha-4: 0.24;
  --alpha-5: 0.32;
  --alpha-6: 0.40;
  --alpha-7: 0.56;
  --alpha-8: 0.72;
  --alpha-9: 0.88;

  --color-primary: #5A5AFF;
  --color-secondary: #E664FF;
  --color-accent: #64C8FF;
  --color-background: #ffffff;
  --color-surface: #394265;
  --color-error: #FF6464;
  --color-success: #00BEA0;
}

/* #endregion */

/* #region Font sizes, styles, weights */

/* All */
html {
  font-size: 13px;
}

/* Small (sm) */
@media (min-width: 640px) {
  html {
    font-size: 13px;
  }
}

/* Medium (md) */
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

/* Large (lg) */
@media (min-width: 1024px) {
  html {
    font-size: 14px;
  }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
  html {
    font-size: 15px;
  }
}

.f-1 {
  font-size: var(--f-1);
}
.f-2 {
  font-size: var(--f-2);
}
.f-3 {
  font-size: var(--f-3);
}
.f-4 {
  font-size: var(--f-4);
}
.f-5 {
  font-size: var(--f-5);
}
.f-6 {
  font-size: var(--f-6);
}
.f-7 {
  font-size: var(--f-7);
}
.f-8 {
  font-size: var(--f-8);
}

.f-b {
  font-weight: bold;
}

.f-i {
  font-style: italic;
}

body {
  font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* #endregion */

/* #region Gutters */

/* All */
:root {
  --gutter-width: calc(5vw + 10px);
  --gutter-width-small: calc(var(--gutter-width) * 0.75);
  --gutter-width-large: calc(var(--gutter-width) * 1.25);
}

/* Small (sm) */
@media (min-width: 640px) {
  :root {
    --gutter-width: 10vw;
  }
}

/* Medium (md) */
@media (min-width: 768px) {
  :root {
    --gutter-width: 10vw;
  }
}

/* Large (lg) */
@media (min-width: 1024px) {
  :root {
    --gutter-width: 15vw;
  }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
  :root {
    --gutter-width: max(20vw, calc((100vw - 1280px) / 2));
  }
}

.gutter {
  margin-left: var(--gutter-width);
  margin-right: var(--gutter-width);
}
.gutter-small {
  margin-left: var(--gutter-width-small);
  margin-right: var(--gutter-width-small);
}
.gutter-large {
  margin-left: var(--gutter-width-large);
  margin-right: var(--gutter-width-large);
}

/* #endregion */

/* #region Spacing */

.pl-0 {
  padding-left: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.pa-0 {
  padding: 0 !important;
}

.pl-1 {
  padding-left: var(--spacing-1) !important;
}
.pt-1 {
  padding-top: var(--spacing-1) !important;
}
.pr-1 {
  padding-right: var(--spacing-1) !important;
}
.pb-1 {
  padding-bottom: var(--spacing-1) !important;
}
.px-1 {
  padding-left: var(--spacing-1) !important;
  padding-right: var(--spacing-1) !important;
}
.py-1 {
  padding-top: var(--spacing-1) !important;
  padding-bottom: var(--spacing-1) !important;
}
.pa-1 {
  padding: var(--spacing-1) !important;
}

.pl-2 {
  padding-left: var(--spacing-2) !important;
}
.pt-2 {
  padding-top: var(--spacing-2) !important;
}
.pr-2 {
  padding-right: var(--spacing-2) !important;
}
.pb-2 {
  padding-bottom: var(--spacing-2) !important;
}
.px-2 {
  padding-left: var(--spacing-2) !important;
  padding-right: var(--spacing-2) !important;
}
.py-2 {
  padding-top: var(--spacing-2) !important;
  padding-bottom: var(--spacing-2) !important;
}
.pa-2 {
  padding: var(--spacing-2) !important;
}

.pl-3 {
  padding-left: var(--spacing-3) !important;
}
.pt-3 {
  padding-top: var(--spacing-3) !important;
}
.pr-3 {
  padding-right: var(--spacing-3) !important;
}
.pb-3 {
  padding-bottom: var(--spacing-3) !important;
}
.px-3 {
  padding-left: var(--spacing-3) !important;
  padding-right: var(--spacing-3) !important;
}
.py-3 {
  padding-top: var(--spacing-3) !important;
  padding-bottom: var(--spacing-3) !important;
}
.pa-3 {
  padding: var(--spacing-3) !important;
}

.pl-4 {
  padding-left: var(--spacing-4) !important;
}
.pt-4 {
  padding-top: var(--spacing-4) !important;
}
.pr-4 {
  padding-right: var(--spacing-4) !important;
}
.pb-4 {
  padding-bottom: var(--spacing-4) !important;
}
.px-4 {
  padding-left: var(--spacing-4) !important;
  padding-right: var(--spacing-4) !important;
}
.py-4 {
  padding-top: var(--spacing-4) !important;
  padding-bottom: var(--spacing-4) !important;
}
.pa-4 {
  padding: var(--spacing-4) !important;
}

.pl-5 {
  padding-left: var(--spacing-5) !important;
}
.pt-5 {
  padding-top: var(--spacing-5) !important;
}
.pr-5 {
  padding-right: var(--spacing-5) !important;
}
.pb-5 {
  padding-bottom: var(--spacing-5) !important;
}
.px-5 {
  padding-left: var(--spacing-5) !important;
  padding-right: var(--spacing-5) !important;
}
.py-5 {
  padding-top: var(--spacing-5) !important;
  padding-bottom: var(--spacing-5) !important;
}
.pa-5 {
  padding: var(--spacing-5) !important;
}


.ml-auto {
  margin-left: auto !important;
}
.mt-auto {
  margin-top: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
.mb-auto {
  margin-bottom: auto !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.ma-auto {
  margin: auto !important;
}

.ml-0 {
  margin-left: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.ma-0 {
  margin: 0 !important;
}

.ml-1 {
  margin-left: var(--spacing-1) !important;
}
.mt-1 {
  margin-top: var(--spacing-1) !important;
}
.mr-1 {
  margin-right: var(--spacing-1) !important;
}
.mb-1 {
  margin-bottom: var(--spacing-1) !important;
}
.mx-1 {
  margin-left: var(--spacing-1) !important;
  margin-right: var(--spacing-1) !important;
}
.my-1 {
  margin-top: var(--spacing-1) !important;
  margin-bottom: var(--spacing-1) !important;
}
.ma-1 {
  margin: var(--spacing-1) !important;
}

.ml-2 {
  margin-left: var(--spacing-2) !important;
}
.mt-2 {
  margin-top: var(--spacing-2) !important;
}
.mr-2 {
  margin-right: var(--spacing-2) !important;
}
.mb-2 {
  margin-bottom: var(--spacing-2) !important;
}
.mx-2 {
  margin-left: var(--spacing-2) !important;
  margin-right: var(--spacing-2) !important;
}
.my-2 {
  margin-top: var(--spacing-2) !important;
  margin-bottom: var(--spacing-2) !important;
}
.ma-2 {
  margin: var(--spacing-2) !important;
}

.ml-3 {
  margin-left: var(--spacing-3) !important;
}
.mt-3 {
  margin-top: var(--spacing-3) !important;
}
.mr-3 {
  margin-right: var(--spacing-3) !important;
}
.mb-3 {
  margin-bottom: var(--spacing-3) !important;
}
.mx-3 {
  margin-left: var(--spacing-3) !important;
  margin-right: var(--spacing-3) !important;
}
.my-3 {
  margin-top: var(--spacing-3) !important;
  margin-bottom: var(--spacing-3) !important;
}
.ma-3 {
  margin: var(--spacing-3) !important;
}

.ml-4 {
  margin-left: var(--spacing-4) !important;
}
.mt-4 {
  margin-top: var(--spacing-4) !important;
}
.mr-4 {
  margin-right: var(--spacing-4) !important;
}
.mb-4 {
  margin-bottom: var(--spacing-4) !important;
}
.mx-4 {
  margin-left: var(--spacing-4) !important;
  margin-right: var(--spacing-4) !important;
}
.my-4 {
  margin-top: var(--spacing-4) !important;
  margin-bottom: var(--spacing-4) !important;
}
.ma-4 {
  margin: var(--spacing-4) !important;
}

.ml-5 {
  margin-left: var(--spacing-5) !important;
}
.mt-5 {
  margin-top: var(--spacing-5) !important;
}
.mr-5 {
  margin-right: var(--spacing-5) !important;
}
.mb-5 {
  margin-bottom: var(--spacing-5) !important;
}
.mx-5 {
  margin-left: var(--spacing-5) !important;
  margin-right: var(--spacing-5) !important;
}
.my-5 {
  margin-top: var(--spacing-5) !important;
  margin-bottom: var(--spacing-5) !important;
}
.ma-5 {
  margin: var(--spacing-5) !important;
}

.ml-1n {
  margin-left: var(--spacing-1n) !important;
}
.mt-1n {
  margin-top: var(--spacing-1n) !important;
}
.mr-1n {
  margin-right: var(--spacing-1n) !important;
}
.mb-1n {
  margin-bottom: var(--spacing-1n) !important;
}
.mx-1n {
  margin-left: var(--spacing-1n) !important;
  margin-right: var(--spacing-1n) !important;
}
.my-1n {
  margin-top: var(--spacing-1n) !important;
  margin-bottom: var(--spacing-1n) !important;
}
.ma-1n {
  margin: var(--spacing-1n) !important;
}

.ml-2n {
  margin-left: var(--spacing-2n) !important;
}
.mt-2n {
  margin-top: var(--spacing-2n) !important;
}
.mr-2n {
  margin-right: var(--spacing-2n) !important;
}
.mb-2n {
  margin-bottom: var(--spacing-2n) !important;
}
.mx-2n {
  margin-left: var(--spacing-2n) !important;
  margin-right: var(--spacing-2n) !important;
}
.my-2n {
  margin-top: var(--spacing-2n) !important;
  margin-bottom: var(--spacing-2n) !important;
}
.ma-2n {
  margin: var(--spacing-2n) !important;
}

.ml-3n {
  margin-left: var(--spacing-3n) !important;
}
.mt-3n {
  margin-top: var(--spacing-3n) !important;
}
.mr-3n {
  margin-right: var(--spacing-3n) !important;
}
.mb-3n {
  margin-bottom: var(--spacing-3n) !important;
}
.mx-3n {
  margin-left: var(--spacing-3n) !important;
  margin-right: var(--spacing-3n) !important;
}
.my-3n {
  margin-top: var(--spacing-3n) !important;
  margin-bottom: var(--spacing-3n) !important;
}
.ma-3n {
  margin: var(--spacing-3n) !important;
}

.ml-4n {
  margin-left: var(--spacing-4n) !important;
}
.mt-4n {
  margin-top: var(--spacing-4n) !important;
}
.mr-4n {
  margin-right: var(--spacing-4n) !important;
}
.mb-4n {
  margin-bottom: var(--spacing-4n) !important;
}
.mx-4n {
  margin-left: var(--spacing-4n) !important;
  margin-right: var(--spacing-4n) !important;
}
.my-4n {
  margin-top: var(--spacing-4n) !important;
  margin-bottom: var(--spacing-4n) !important;
}
.ma-4n {
  margin: var(--spacing-4n) !important;
}

.ml-5n {
  margin-left: var(--spacing-5n) !important;
}
.mt-5n {
  margin-top: var(--spacing-5n) !important;
}
.mr-5n {
  margin-right: var(--spacing-5n) !important;
}
.mb-5n {
  margin-bottom: var(--spacing-5n) !important;
}
.mx-5n {
  margin-left: var(--spacing-5n) !important;
  margin-right: var(--spacing-5n) !important;
}
.my-5n {
  margin-top: var(--spacing-5n) !important;
  margin-bottom: var(--spacing-5n) !important;
}
.ma-5n {
  margin: var(--spacing-5n) !important;
}

/* #endregion */

/* #region Colors */

.color-primary {
  color: var(--color-primary);
  fill: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
  fill: var(--color-secondary);
}
.color-accent {
  color: var(--color-accent);
  fill: var(--color-accent);
}
.color-background {
  color: var(--color-background);
  fill: var(--color-background);
}
.color-surface {
  color: var(--color-surface);
  fill: var(--color-surface);
}
.color-error {
  color: var(--color-error);
  fill: var(--color-error);
}
.color-success {
  color: var(--color-success);
  fill: var(--color-success);
}

.color-white {
  color: #ffffff;
  fill: #ffffff;
}
.color-black {
  color: #000000;
  fill: #000000;
}
.color-grey {
  color: rgb(var(--color-grey-rgb));
  fill: rgb(var(--color-grey-rgb));
}
.color-grey-3 {
  color: rgba(var(--color-grey-rgb), 0.75);
  fill: rgba(var(--color-grey-rgb), 0.75);
}
.color-grey-2 {
  color: rgba(var(--color-grey-rgb), 0.5);
  fill: rgba(var(--color-grey-rgb), 0.5);
}
.color-grey-1 {
  color: rgba(var(--color-grey-rgb), 0.25);
  fill: rgba(var(--color-grey-rgb), 0.25);
}

/* #endregion */

/* #region Box shadows */

:root {
  --box-glow: 0px 0px 0px 0.2rem rgb(var(--color-background-rgb)),
    0px 0px 1rem 0.2rem rgba(var(--color-background-rgb), var(--alpha-6)), 
    0px 0px 1rem 0.2rem rgb(var(--color-background-rgb));
  --box-shadow: 0px 0px var(--spacing-6) var(--spacing-1) rgba(0, 0, 0, var(--alpha-2));
}

/* #endregion */

/* #region Scrollbar */

:root {
  --scrollbar-color-thumb: rgba(var(--color-grey-rgb), var(--alpha-3));
  --scrollbar-color-track: rgba(0, 0, 0, 0);
}

#app .hide-scrollbar::-webkit-scrollbar { /* WebKit */
  display: none;
}
#app .hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

html:not(.custom-scroll) * {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
}

html:not(.custom-scroll) *::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

html:not(.custom-scroll) *::-webkit-scrollbar-track {
  background: var(--scrollbar-color-track);
}

html:not(.custom-scroll) *::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color-thumb);
  border-radius: 6px;
  border: 3px solid var(--scrollbar-color-track);
}

/* #endregion */

/* #region Element base styles */

h3 {
  font-size: var(--f-5);
}

h2 {
  font-size: var(--f-6);
}

h1 {
  font-size: var(--f-7);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding: 0;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  cursor: pointer;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

/* #endregion */

/* #region Element custom styles */

:root {
  --pt-label-text: calc(var(--f-2) * 1.2)
}

.pt-label-text {
  padding-top: var(--pt-label-text);
}

label.default {
  display: flex;
  flex-direction: column;
}

label.default {
  display: inline-flex;
  flex-direction: column;
}

label.default > span {
  font-size: var(--f-2);
  font-weight: bold;
  letter-spacing: 0.04em;
  padding-bottom: calc(var(--label-text-height) - var(--f-2));
  padding-left: 0.4em;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  min-width: var(--panel-min-width);
  max-width: var(--panel-max-width);
  width: var(--panel-width);
}

.panel > .panel {
  max-width: 100%;
  width: 100%;
}

.panel-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: var(--spacing-2n);
  margin-left: var(--spacing-2n);
  min-width: var(--panel-min-width);
  max-width: calc(100% + var(--spacing-2) * 2);
  width: calc(100% + var(--spacing-2) * 2);
}

.panel-row:first-child {
  margin-top: var(--spacing-2n);
  margin-bottom: 0;
}

.panel-row:last-child {
  margin-top: 0;
  margin-bottom: var(--spacing-2n);
}

.panel-row:first-child:last-child {
  margin-top: var(--spacing-2n);
  margin-bottom: var(--spacing-2n);
}

.panel-row > * {
  margin: var(--spacing-2);
}

.panel-row.center-h,
.panel-cell.center-h {
  justify-content: center;
}

.panel-row.center-v,
.panel-cell.center-v {
  align-items: center;
}

.panel-cell {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
}

.panel-cell > * {
  margin: var(--spacing-2);
}

input[type="button"].default,
input[type="submit"].default,
button.default {
  letter-spacing: 0.04em;
  border-radius: var(--radius-2-rel);
  font-weight: bold;
  border: solid rgba(var(--color-grey-rgb), var(--alpha-3)) 2px;
  background: transparent;
  padding: 0.8em 1.4em;
  min-width: 7em;
  transition: background-color 200ms ease-out, border-color 200ms ease-out;
}

input[type="button"].default:focus,
input[type="submit"].default:focus,
button.default:focus,
input[type="button"].default:hover,
input[type="submit"].default:hover,
button.default:hover {
  background-color: rgba(var(--color-grey-rgb), var(--alpha-1));
  border-color: rgba(var(--color-grey-rgb), var(--alpha-5));
}

input[type="button"].flat,
input[type="submit"].flat,
button.flat,
input[type="button"].flat:focus,
input[type="submit"].flat:focus,
button.flat:focus,
input[type="button"].flat:hover,
input[type="submit"].flat:hover,
button.flat:hover {
  border-color: transparent;
}

input[type="button"].dense,
input[type="submit"].dense,
button.dense {
  padding: 0.5em 1.1em;
  border-radius: var(--radius-1-rel);
  min-width: 5em;
}

input[type="button"].prominent,
input[type="submit"].prominent,
button.prominent {
  padding: 1em 1.5em;
  min-width: 8em;
}

label.default > input,
input.default {
  border-radius: var(--radius-2-rel);
  border: solid rgba(var(--color-grey-rgb), var(--alpha-3)) 2px;
  background: transparent;
  padding: 0.8em 1.4em;
  min-width: 7em;
  transition: border-color 200ms ease-out;
}

label.default > input[type="text"]:focus,
label.default > input[type="email"]:focus,
label.default > input[type="password"]:focus,
input[type="text"].default:focus,
input[type="email"].default:focus,
input[type="password"].default:focus {
  border-color: rgba(var(--color-grey-rgb), var(--alpha-5));
}

/* #endregion */

/* #region utilities */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.size-string {
  visibility: hidden !important;
}

/* #endregion */

/* #region Flex */

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.grow-1 {
  flex-grow: 1;
}

.row.center-h,
.column.center-v {
  justify-content: center;
}

.row.center-v,
.column.center-h {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

/* #endregion */
