#root .brand-card {
  display: grid;
  grid-template: 
    "l" auto
    "n" auto
    "d" auto
    "r" auto;
  gap: var(--spacing-1);
  place-items: start;
  background-color: var(--color-primary);
  border-radius: var(--radius-1);
  box-sizing: border-box;
  padding: var(--spacing-6);
  box-shadow: 0px 0px var(--spacing-4) var(--spacing-1) hsla(var(--color-primary-hsl), var(--color-d4));
  transition-property: transform, box-shadow;
  transition-duration: 200ms, 200ms;
}

#root .brand-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px var(--spacing-5) var(--spacing-3) hsla(var(--color-primary-hsl), var(--color-d6));
}

#root .brand-card > .logo {
  grid-area: l;
  width: 100%;
  padding-bottom: 100%;
  background-image: var(--url-image-logo);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#root .brand-card > .name {
  grid-area: n;
}

#root .brand-card > .domain {
  grid-area: d;
}

#root .brand-card > .roles {
  grid-area: r;
}
