.close-button {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: var(--spacing-4);
}

.close-button.top {
  top: 0;
}

.close-button.right {
  right: 0;
}

.close-button.bottom {
  bottom: 0;
}

.close-button.left {
  left: 0;
}

.close-button > svg > path {
  stroke: rgba(var(--color-grey-rgb), var(--color-d3));
  transition: stroke 200ms ease;
}

.close-button:hover > svg > path,
.close-button:active > svg > path {
  stroke: #000000; 
}

.close-button:focus > svg > path {
  stroke: var(--color-primary); 
}
