.background-component {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.background-component > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.background-component > *:first-child {
  position: absolute;
  justify-self: center;
  align-self: center;
  transform-origin: center center;
  z-index: -1;
}
