.focused-layout {
  position: relative;
  box-sizing: border-box;
  background-color: var(--color-background-l3);
  overflow: hidden;
  height: 100%;
  display: grid;
  grid-auto-rows: minmax(max-content, 1fr) minmax(max-content, 1fr) minmax(max-content, 3fr) minmax(max-content, 1fr);
  grid-template-areas:
    "t"
    "h"
    "m"
    "a";
}

.focused-layout > * {
  max-width: 100%;
}

.focused-layout > [data-layout|="topbar"] {
  grid-area: t;
  place-self: start center;
}

.focused-layout > [data-layout|="header"] {
  grid-area: h;
  place-self: center;
}


.focused-layout > [data-layout|="main"] {
  grid-area: h / h / a / a;
  place-self: stretch;
}

.focused-layout > [data-layout|="actions"] {
  grid-area: a;
  margin: var(--spacing-3);
  place-self: end start;
}
