.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(var(--background-color-h), var(--background-color-s), 99%, var(--color-d6));
  backdrop-filter: blur(2px);
}

.modal {
  position: relative;
  border-radius: var(--radius-3);
  padding: var(--spacing-6);
  box-shadow: var(--box-shadow);
}
