.choose {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.choose > div {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-column-start: 1;
  grid-row-start: 1;
  transition: opacity ease-in-out 160ms;
}

.choose > .hidden {
  visibility: hidden;
  opacity: 0;
}

.choose > .visible {
  opacity: 1;
}

.choose > .visible.hide {
  opacity: 0;
}

.choose > div > [data-choose="fit"] {
  position: absolute;
  height: 100%;
}
