.choose {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.choose > .top {
  align-self: start;
}
.choose > .right {
  justify-self: end;
}
.choose > .bottom {
  align-self: end;
}
.choose > .left {
  justify-self: start;
}

.choose > * {
  grid-column-start: 1;
  grid-row-start: 1;
  transition: opacity ease-in-out 0.2s;
}

.choose > .fit {
  position: absolute;
  height: 100%;
}

.choose > .hidden {
  visibility: hidden;
  opacity: 0;
}

.choose > .visible {
  opacity: 1;
}

.choose > .visible.hide {
  opacity: 0;
}

