.message-box {
  z-index: 99;
  position: fixed;
  bottom: var(--spacing-4);
  right: var(--spacing-4);
  border-radius: var(--radius-1);
  padding: var(--spacing-4);
  padding-right: calc(var(--spacing-1) * 9);
  box-shadow: 0px 0px var(--spacing-5) var(--spacing-1) hsla(var(--background-color-h), var(--background-color-s), calc(var(--background-color-l) * var(--color-d5)), var(--color-d3));
  min-width: 20ch;
}
