.nav-button {
  text-align: center;
  cursor: pointer;
}

.nav-button > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin-top: calc(var(--spacing-1) * 0.6);
}

.nav-button .nav-button-text {
  transition: color 300ms;
}

.nav-button .nav-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--f-5);
  width: 2.4rem;
  height: 2.4rem;
  border-radius: var(--radius-1-rel);
  overflow: visible;
  transition: box-shadow 300ms;
}

.nav-button .nav-button-icon::before {
  position: absolute;
  top: -0.15rem;
  right: -0.15rem;
  content: ' ';
  width: 0;
  height: 0;
  background-color: transparent;
  border-radius: 50%;
  transition: box-shadow 300ms, background-color 300ms, width 300ms, height 300ms;
}

.nav-button.notification .nav-button-icon::before {
  background-color: var(--color-background);
  width: 0.6rem;
  height: 0.6rem;
  box-shadow: 0px 0px 0px 0.2rem var(--color-white);
}

.nav-button.notification:hover .nav-button-icon::before {
  box-shadow: 0px 0px 0px 0.15rem var(--color-white);
  width: 0.55rem;
  height: 0.55rem;
}

.nav-button > .active .nav-button-icon {
  box-shadow: 0px 0px 0px 0.2rem rgba(255, 255, 255, 0.5), 0px 0px 0px 0.35rem,
    0px 0px 1rem 0.35rem rgba(255, 255, 255, 0.5), 0px 0px 1rem 0.35rem;
}

.nav-button:hover > *:not(.active) .nav-button-icon {
  box-shadow: 0px 0px 0px 0.2rem,
    0px 0px 1rem 0.2rem rgba(255, 255, 255, 0.5), 0px 0px 1rem 0.2rem;
}
