.nav-button {
  text-align: center;
  cursor: pointer;
  transition: color 300ms;
}

.nav-button > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin-top: calc(var(--spacing-1) * 0.3);
  transition: margin-bottom 200ms;
}

.nav-button[data-active="true"] {
  color: var(--color-surface) !important;
}

.nav-button .nav-button-text {
  transition: opacity 100ms, margin-bottom 200ms;
}

.nav-button[data-minimized="true"] .nav-button-text {
  opacity: 0;
  margin-bottom: var(--spacing-5n);
}

.nav-button[data-minimized="true"] > * {
  margin-bottom: calc(var(--spacing-1) * 0.3);
}

.nav-button .nav-button-icon {
  display: grid;
  place-items: center;
  font-size: var(--f-5);
  width: 2.4rem;
  height: 2.4rem;
  border-style: solid;
  border-width: var(--border-t2);
  border-color: transparent;
  border-radius: var(--radius-1-rel);
  overflow: visible;
  transition: box-shadow 200ms, border-color 200ms;
}

.nav-button[data-active="true"] .nav-button-icon {
  border-color: hsla(var(--color-surface-h), var(--color-surface-s), var(--color-surface-l), var(--color-d4));
  box-shadow: 0px 0px var(--spacing-4) var(--spacing-1) hsla(var(--color-surface-h), var(--color-surface-s), var(--color-surface-l), var(--color-d3));
}

.nav-button:focus-within[data-active="false"] .nav-button-icon {
  border-color: hsla(var(--color-surface-h), var(--color-surface-s), var(--color-surface-l), var(--color-d4));
}

.nav-button[data-active="false"]:active .nav-button-icon,
.nav-button[data-active="false"]:hover .nav-button-icon {
  box-shadow: 0px 0px var(--spacing-3) var(--spacing-1) hsla(var(--color-surface-h), var(--color-surface-s), var(--color-surface-l), var(--color-d3));
}

/* TODO: notification icon */

.nav-button .nav-button-icon::before {
  position: absolute;
  top: -0.15rem;
  right: -0.15rem;
  content: ' ';
  width: 0;
  height: 0;
  background-color: transparent;
  border-radius: 50%;
  transition: box-shadow 300ms, background-color 300ms, width 300ms, height 300ms;
}

.nav-button.notification .nav-button-icon::before {
  background-color: var(--color-background);
  width: 0.6rem;
  height: 0.6rem;
  box-shadow: 0px 0px 0px 0.2rem var(--color-white);
}

.nav-button.notification:hover .nav-button-icon::before {
  box-shadow: 0px 0px 0px 0.15rem var(--color-white);
  width: 0.55rem;
  height: 0.55rem;
}
