.nav {
  display: grid;
  box-shadow: 0px 0px 0px var(--border-t1) var(--color-background-l2);
}

.nav.v {
  width: max-content;
  grid-template:
    "m s" 1fr / auto auto;
}

.nav.h {
  height: max-content;
  grid-template:
    "s" auto
    "m" auto;
}

.nav > div {
  display: grid;
  place-items: center;
}

.nav > div > ul {
  display: grid;
}

.nav > div.nav-menu {
  grid-area: m;
  background-color: var(--color-background-l4);
  z-index: 2;
}

.nav > div.nav-submenu {
  grid-area: s;
  background-color: var(--color-background-l3);
  z-index: 1;
  overflow: hidden;
}

.nav > div.nav-submenu [data-sizer] {
  visibility: hidden;
  z-index: 0;
  pointer-events: none;
}

.nav > div.nav-menu > ul {
  gap: var(--spacing-2);
}

.nav > div.nav-submenu > ul {
  gap: var(--spacing-1);
}

.nav.v > div.nav-submenu {
  transition: margin-left 200ms;
  margin-left: -30vw;
}

.nav.v[data-expanded="true"] > div.nav-submenu { 
  margin-left: 0;
}

.nav.h > div.nav-submenu {
  transition: margin-bottom 200ms;
  margin-bottom: -30vh;
}

.nav.h[data-expanded="true"] > div.nav-submenu { 
  margin-bottom: 0;
}

.nav.v > div > ul {
  grid-auto-flow: row;
  grid-auto-rows: minmax(0, 1fr);
  height: max-content;
}

.nav.h > div > ul {
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  width: max-content;
}

.nav.v > div.nav-submenu > ul {
  justify-items: start;
}

.nav > div > ul > li {
  display: block;
  margin: var(--spacing-1);
}

.nav.h > div.nav-submenu .nav-submenu-title {
  border-right: var(--border-t2) solid var(--color-background-l1);
}

.nav.v > div.nav-submenu .nav-submenu-title {
  border-bottom: var(--border-t2) solid var(--color-background-l1);
}
