.nav {
  display: grid;
  place-items: center;
  background-color: var(--color-primary-s1nl4);
}

.nav.v {
  width: max-content;
  grid-template:
    "m s" 1fr / auto auto;
}

.nav.h {
  height: max-content;
  grid-template:
    "s" auto
    "m" auto;
}

.nav > ul {
  grid-area: m;
  display: grid;
  gap: var(--spacing-2);
}

.nav.v > ul {
  grid-auto-flow: row;
  grid-auto-rows: minmax(0, 1fr);
  height: max-content;
}

.nav.h > ul {
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  width: max-content;
}

.nav > ul > li {
  display: block;
  margin: var(--spacing-2);
}
