/* home-header */

.home-features-section {
  --content-offset: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--content-offset));
  box-sizing: border-box;
  padding-bottom: var(--content-offset);
}

.home-features-section li {
  margin: 1.2rem;
  text-align: center;
}
