.responsive-layout {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template:
    "t" auto
    "a" auto
    "tf" auto
    "b" 1fr
    "n" auto;
}

.responsive-layout > [data-layout|="topbar"] {
  grid-area: t;
  z-index: 2;
}

.responsive-layout > [data-layout|="topbar"][data-layout~="floating"] {
  grid-area: tf;
}

.responsive-layout > [data-layout|="nav"] {
  grid-area: n;
  z-index: 1;
}

.responsive-layout > .body {
  grid-area: tf / b / b / b;
  display: grid;
  grid-template: 
    "h" auto
    "m" 1fr
    "f" auto;
  overflow-y: auto;
}

.responsive-layout > [data-layout|="aside"] {
  grid-area: a;
  z-index: 1;
}

.responsive-layout > .body > [data-layout|="header"] {
  grid-area: h;
}

.responsive-layout > .body > [data-layout|="main"] {
  grid-area: m;
  overflow-x: auto;
}

.responsive-layout > .body > [data-layout|="footer"] {
  grid-area: f;
}

/* Medium (md) */
@media (min-width: 768px) {
  .responsive-layout {
    grid-template:
      "t t t" auto
      "tf tf tf" auto
      "n b a" 1fr
      / auto 1fr auto;
  }
}
