.responsive-layout {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template:
    "t" auto
    "a" auto
    "b" 1fr
    "n" auto;
  overflow-y: hidden;
}

/* Medium (md) */
@media (min-width: 768px) {
  .responsive-layout {
    grid-template:
      "t t t" auto
      "n b a" 1fr / auto 1fr auto;
  }
}

.responsive-layout > .body {
  display: grid;
  grid-template: 
    "h" auto
    "m" 1fr
    "f" auto;
  overflow-y: scroll;
}

.responsive-layout > [data-layout="topbar"] {
  grid-area: t;
}

.responsive-layout > [data-layout="nav"] {
  grid-area: n;
}

.responsive-layout > .body {
  grid-area: b;
}

.responsive-layout > [data-layout="aside"] {
  grid-area: a;
}

.responsive-layout > .body > [data-layout="header"] {
  grid-area: h;
}

.responsive-layout > .body > [data-layout="main"] {
  grid-area: m;
  overflow-x: scroll;
}

.responsive-layout > .body > [data-layout="footer"] {
  grid-area: f;
}

