:root {
  --text-field-label-height: calc(var(--f-2) * 1.2);
  --text-field-message-height: calc(var(--f-1) * 1.2);
}

#root .pt-label-text {
  padding-top: var(--text-field-label-height);
}
#root .pb-label-text {
  padding-bottom: var(--text-field-message-height);
}

.text-field {
  flex-grow: 1;
  display: grid;
  grid-template:
    "l a" auto
    "i i" auto 
    "m m" auto
    / 1fr auto;
  align-items: baseline;
}

.text-field > span.label {
  grid-area: l;
  font-size: var(--f-2);
}

.text-field-actions {
  grid-area: a;
  font-size: var(--f-1);
}

.text-field > span.message {
  grid-area: m;
  font-size: var(--f-1);
  font-weight: normal;
  color: rgb(var(--color-grey-rgb));
  transition: color 160ms ease-out;
}

.text-field > span.message:empty:before {
  content: "\200b";
}

.text-field-actions > span {
  cursor: pointer;
  position: relative;
  color: var(--color-primary)
}

.text-field > input {
  grid-area: i;
  border-radius: var(--radius-1-rel);
  border: solid rgba(var(--color-grey-rgb), var(--alpha-3)) 2px;
  background: transparent;
  padding: 0.8em 1.4em;
  min-width: 7em;
  transition: border-color 160ms ease-out;
  margin-top: calc(var(--text-field-label-height) - var(--f-2));
  margin-bottom: calc(var(--text-field-message-height) - var(--f-1));
}

.text-field span {
  font-weight: bold;
  letter-spacing: 0.04em;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.text-field > input:focus {
  border-color: rgba(var(--color-grey-rgb), var(--alpha-5));
}

.text-field.completed > input {
  border-color: hsla(var(--color-success-hsl), var(--alpha-7));
}

.text-field.invalid > input,
.text-field:invalid > input {
  border-color: hsla(var(--color-error-hsl), var(--alpha-7));
}

.text-field.invalid > input:focus,
.text-field:invalid > input:focus {
  border-color: hsl(var(--color-error-hsl));
}

.text-field.invalid > .message,
.text-field:invalid > .message {
  color: var(--color-error);
}

