* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --color-primary: #667eea;
  --color-secondary: #34D399;
  --color-accent: #F97316;
  --color-background: #fbfcfd;
  --color-surface: #F1F5F9;
  --color-error: #F43F5E;
  --color-success: #10B981;
}

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@layer base {
  html, body, #root {
    @apply h-full;
  }
}

@layer components {
  .page-container {
    @apply box-border relative flex flex-col h-full bg-white;
  }

  .page-body-container {
    @apply container box-border inset-x-0 top-0 flex flex-col flex-1 h-full px-3 py-12 mx-auto space-y-6 md:px-4 md:py-16;
  }

  .form-container {
    @apply flex flex-col w-full max-w-xs py-4 mx-auto space-y-4 sm:max-w-sm;
  }
}

@layer utilities {
  .bg-blur {
    backdrop-filter: blur(2px);
  }

  .bg-mask-x-transparent {
    mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 1.0), transparent);
  }
}
