#root .form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.form-container.choose {
  overflow-y: auto;
}

.form-container.choose div.form-completed,
.form-container.choose div.form-error {
  display: grid;
  place-items: center;
  text-align: center;
}
