.input.file-input > span.input-element:empty:before {
  content: "Drop a file here or click to upload";
  color: var(--color-background-s1nl1n);
}

.input.file-input > span.input-message {
  opacity: 1;
}

.input.file-input.image-input {
  --url-image: linear-gradient(to right, #f3f3f3, #f8f8f8, #f3f3f3);
  --preview-width: calc(30ch / var(--preview-aspect-ratio));
}

.input.file-input.image-input::before {
  position: relative;
  grid-area: p;
  display: block;
  content: '';
  margin-top: var(--input-message-height);
  padding-top: calc(var(--preview-aspect-ratio) * var(--preview-width));
  width: var(--preview-width);
  background-image: var(--url-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  border: solid var(--color-background-s1nl2) 2px;
}

.input.file-input.image-input:not(.file-uploaded)::after {
  position: absolute;
  grid-area: p;
  display: block;
  content: '';
  margin-top: var(--input-message-height);
  place-self: center start;
  opacity: 0.2;
  background-image: url('data:image/svg+xml;base64,PHN2ZyBzdHJva2U9ImN1cnJlbnRDb2xvciIgZmlsbD0iY3VycmVudENvbG9yIiBzdHJva2Utd2lkdGg9IjAiIHZpZXdCb3g9IjAgMCAxNiAxNiIgY2xhc3M9IiBpbnB1dC1pY29uIiBoZWlnaHQ9IjFlbSIgd2lkdGg9IjFlbSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNC4wMDIgMmgtMTJhMSAxIDAgMDAtMSAxdjEwYTEgMSAwIDAwMSAxaDEyYTEgMSAwIDAwMS0xVjNhMSAxIDAgMDAtMS0xem0tMTItMWEyIDIgMCAwMC0yIDJ2MTBhMiAyIDAgMDAyIDJoMTJhMiAyIDAgMDAyLTJWM2EyIDIgMCAwMC0yLTJoLTEyeiIgY2xpcC1ydWxlPSJldmVub2RkIj48L3BhdGg+PHBhdGggZD0iTTEwLjY0OCA3LjY0NmEuNS41IDAgMDEuNTc3LS4wOTNMMTUuMDAyIDkuNVYxNGgtMTR2LTJsMi42NDYtMi4zNTRhLjUuNSAwIDAxLjYzLS4wNjJsMi42NiAxLjc3MyAzLjcxLTMuNzF6Ij48L3BhdGg+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNC41MDIgN2ExLjUgMS41IDAgMTAwLTMgMS41IDEuNSAwIDAwMCAzeiIgY2xpcC1ydWxlPSJldmVub2RkIj48L3BhdGg+PC9zdmc+');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1.8em;
  height: 1.8em;
  z-index: 1;
  margin-left: calc(var(--preview-width) * 0.5);
  transform: translateX(-50%);
}
