* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --color-primary: #6366F1;
  --color-secondary: #34D399;
  --color-accent: #F97316;
  --color-background: #fbfcfd;
  --color-surface: #F1F5F9;
  --color-error: #F43F5E;
  --color-success: #10B981;
}

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@layer base {
  html, body, #root {
    @apply h-full;
  }
}

@layer components {
  .page-container {
    @apply relative box-border h-full bg-white flex flex-col;
  }

  .page-body-container {
    @apply container box-border h-full px-3 md:px-4 mx-auto flex flex-col flex-1 space-y-6 top-0 inset-x-0 py-12 md:py-16;
  }

  .form-container {
    @apply w-full max-w-xs sm:max-w-sm mx-auto flex flex-col space-y-4 py-4;
  }
}

@layer utilities {
  .bg-blur {
    backdrop-filter: blur(2px);
  }

  .bg-mask-x-transparent {
    mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 1.0), transparent);
  }

  .grid-cols-fill-200 {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
