* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --color-primary: #667eea;
  --color-secondary: #34d399;
  --color-accent: #f97316;
  --color-background: #fbfcfd;
  --color-surface: #f1f5f9;
  --color-error: #f43f5e;
  --color-success: #10b981;
  --color-primary-0\.4: #667eea66;
  --color-secondary-0\.4: #34d39966;
  --color-accent-0\.4: #f9731666;
  --color-primary-0\.3: #667eea4C;
  --color-secondary-0\.3: #34d3994C;
  --color-accent-0\.3: #f973164C;
  --color-primary-0\.2: #667eea33;
  --color-secondary-0\.2: #34d39933;
  --color-accent-0\.2: #f9731633;
}

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }
}

@layer components {
  .page-container {
    @apply box-border relative flex flex-col h-full bg-white;
  }

  .page-body-container {
    @apply container box-border inset-x-0 top-0 flex flex-col flex-1 h-full px-3 py-12 mx-auto space-y-6 md:px-4 md:py-16;
  }

  .form-container {
    @apply flex flex-col w-full max-w-xs py-4 mx-auto space-y-4 sm:max-w-sm;
  }
}

@layer utilities {
  .bg-blur {
    backdrop-filter: blur(2px);
  }

  .bg-mask-x-transparent {
    mask-image: linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1),
      transparent
    );
  }

  .grid-cols-fill-200 {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .underline-highlight {
    box-shadow: inset 0 -0.15em 0 0 #fff, inset 0 -0.375em 0 0 var(--color-primary-0\.3);
  }
  .underline-highlight-secondary {
    box-shadow: inset 0 -0.15em 0 0 #fff, inset 0 -0.375em 0 0 var(--color-secondary-0\.3);
  }
  .underline-highlight-accent {
    box-shadow: inset 0 -0.15em 0 0 #fff, inset 0 -0.375em 0 0 var(--color-accent-0\.3);
  }
}
