.create-brand-card {
  display: grid;
  gap: var(--spacing-1);
  place-items: center;
  background-color: white;
  border-radius: var(--radius-1);
  padding: var(--spacing-6);
  transition-property: transform;
  transition-duration: 200ms;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
}

.create-brand-card:hover {
  transform: scale(1.05);
}

