/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@layer base {
  body {
    @apply w-full p-0 m-0;
    word-break: break-word;
    -webkit-font-smoothing: antialiased;
  }
  
  img {
    @apply max-w-full align-middle;
    border: 0;
  }
}
